[2006-07-07 21:33] firebird-automations opened #1 "Hyperlinks don't work on fb2 rc3 windows binaries [WEB1]"
Submitted by: Guram Dukashvili (korvin)

[2006-07-07 21:58] firebird-automations commented on #1
Commented by: @pcisar

They do work, but it will take some time for files to propagate to all SF mirrors\. Try several SF mirrors, for example right now I can get  Win32 kits from UFPR mirror, but not from BELTEN mirror\.

[2006-07-07 21:58] firebird-automations commented on #1
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Won't Fix \[ 2 \]
</details>

[2006-08-13 01:42] firebird-automations opened #2 "Reserved words [WEB2]"
Submitted by: Fabio Maulo (fabiomaulo)

I think we need a sigle page with all reserved words for all version\.
In the site i find <http://www.firebirdsql.org/rlsnotes20/rnfbtwo-reswords.html> but there is only difference with previous version\.
If i want know all reserved words and all key words, or all enbedded function, i don't know where i can find it\.

thanks\.

P\.S\. I'm testing Fb2\.0RC3 w

[2006-08-15 23:36] firebird-automations opened #3 "ODBC driver broken links [WEB3]"
Submitted by: Jorge Andres Brugger (jbrugger)

At <http://www.firebirdsql.org/index.php?op=files&id=odbc> the following download links for 2\.0 beta files:
\- Windows Dll's \(\.zip\)
\- Linux Shared Libraries \(\.tar\.gz\)
\- Source Code \(\.zip\)
\- Source Code \(\.tar\.gz\)
are broken\.
They should also be updated, as actual build of 2\.0 beta is 2\.0\.142

[2006-10-07 16:49] firebird-automations opened #4 "Wrong links in page Firebird Quality Assurance [WEB4]"
Submitted by: @tonal

In page <http://www.firebirdsql.org/index.php?op=devel&sub=qa> \(Firebird Quality Assurance\)
All links in line "Read this announcement in Russian \| Bosnian \| French \| Br\-Portuguese \| Italian \| Spanish\." have wrong format\. And Firefox don\`t recognized it\.
For example
Russian:
<http://www.firebirdsql.org/\"http://www.ibase.ru/firebird/fb2test.htm\">
or in firefox
<ht

[2006-10-07 17:09] firebird-automations commented on #4
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2006-10-07 17:09] #4 closed, assigned to pcisar

[2006-10-07 17:09] firebird-automations commented on #4
<details><summary>Modified by: @pcisar</summary>

status: Resolved \[ 5 \] =\> Closed \[ 6 \]
</details>

[2006-10-07 17:11] firebird-automations commented on #2
<details><summary>Modified by: @pcisar</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Helen Borrie \[ helebor \]
</details>

[2006-10-26 07:50] firebird-automations opened #5 "Incorrect link [WEB5]"
Submitted by: Umberto Masotti (umasotti)

In the web page <http://www.firebirdsql.org/guide/FBFactsheet.html> in "Detailed documentation" clicking on "Detailed documentation links" send to old firebird server:

<http://firebird.sourceforge.net/index.php?op=doc>

if you go to Main refer to RC2 as latest version\.\.\.

HTH

[2006-11-15 20:02] firebird-automations commented on #5
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2006-11-15 20:02] #5 closed, assigned to pcisar

[2006-11-15 20:03] firebird-automations commented on #5
<details><summary>Modified by: @pcisar</summary>

status: Resolved \[ 5 \] =\> Closed \[ 6 \]
</details>

[2006-11-30 09:59] firebird-automations opened #6 "firebirdsql.org is not available without "www" [WEB6]"
Submitted by: Sergey Fetiskin (fetis)

I think that <http://firebirdsql.org> should be available on both links: <http://www.firebirdsql.org> and <http://firebirdsql.org> because "www" prefix is not obligatory\.

[2006-12-07 15:22] firebird-automations opened #7 "Snapshots link [WEB7]"
Submitted by: Dimitrios Chr. Ioannidis (dchri)

We don't have a link for the snapshots, currently <http://www.firebirdsql.org/download/snapshot_builds>\.

[2006-12-07 15:29] firebird-automations commented on #7
<details><summary>Modified by: Dimitrios Chr. Ioannidis (dchri)</summary>

description: We don't have a link for the snapshots, currently <http://www.firebirdsql.org/download/snapshots_build> \.  =\> We don't have a link for the snapshots, currently <http://www.firebirdsql.org/download/snapshot_build> s\.
</details>

[2006-12-07 15:30] firebird-automations commented on #7
<details><summary>Modified by: Dimitrios Chr. Ioannidis (dchri)</summary>

description: We don't have a link for the snapshots, currently <http://www.firebirdsql.org/download/snapshot_build> s\.  =\> We don't have a link for the snapshots, currently <http://www.firebirdsql.org/download/snapshot_builds>\.
</details>

[2007-03-02 12:32] firebird-automations commented on #3
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2007-03-02 12:32] #3 closed, assigned to pcisar

[2007-03-02 12:32] firebird-automations commented on #3
<details><summary>Modified by: @pcisar</summary>

status: Resolved \[ 5 \] =\> Closed \[ 6 \]
</details>

[2007-04-02 16:15] firebird-automations opened #8 "Dead link [WEB8]"
Submitted by: Umberto Masotti (umasotti)

The link to project activity statistics in

<http://www.firebirdsql.org/index.php?op=devel>

go to a sourceforge unsupported page\.

Foundation bi\-monthly bullettin news \(or monthly news?\)
<http://www.firebirdsql.org/index.php?op=ffoundation&sub=news>
seems dead after 2004\.

It's not better to remove what cannot be mantained?

Ciao\.
Mimmo\.

[2007-04-02 18:16] firebird-automations commented on #8
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2007-04-02 18:16] #8 closed, assigned to pcisar

[2007-04-02 18:16] firebird-automations commented on #8
<details><summary>Modified by: @pcisar</summary>

status: Resolved \[ 5 \] =\> Closed \[ 6 \]
</details>

[2007-04-04 09:24] firebird-automations commented on #6
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2007-04-04 09:24] #6 closed, assigned to pcisar

[2007-04-04 09:24] firebird-automations commented on #6
<details><summary>Modified by: @pcisar</summary>

status: Resolved \[ 5 \] =\> Closed \[ 6 \]
</details>

[2007-05-01 14:03] firebird-automations commented on #7
Commented by: @pcisar

Do you mean a special link page like we have for regular releases?
Like <http://www.firebirdsql.org/index.php?op=files&id=fb210_alpha01> ?

[2007-07-10 11:02] firebird-automations commented on #2
Commented by: @pcisar

Resolved by Firebird Word Reference at Firebird Wiki site:
<http://wiki.firebirdsql.org/wiki/index.php?page=Firebird+Words+Reference>

[2007-07-10 11:02] firebird-automations commented on #2
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2007-07-10 11:02] #2 closed, assigned to helebor

[2007-08-19 15:21] firebird-automations commented on #7
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2007-08-19 15:21] #7 closed, assigned to pcisar

[2007-09-11 16:12] firebird-automations opened #9 "FAQ contains 2 links to parked page (leaving question unanswered) [WEB11]"
Submitted by: Fei (fx)

FAQ page contains 2 links pointing to innappropriate content, and leaves the question unanswered\.

Problem #&#x2060;1:

FAQ Page: <http://www.firebirdsql.org/index.php?op=faq#q001.dat>
Parked page:  <http://www.fbtalk.net/viewtopic.php?id=210>

Thus, this question gets unanswered in the FAQ:

"Where can I get detailed advice about installing Firebird 1\.5 on Windows Server

[2007-09-11 16:16] firebird-automations opened #10 "Roadmap 2007 says Firebird 3.0 release in Q4 2007, etc. [WEB12]"
Submitted by: Fei (fx)

Page:  <http://www.firebirdsql.org/index.php?op=devel&sub=engine&id=roadmap_2007>

Roadmap 2007 hasn't been updated since December 2006, so the estimated release dates are wrong\.

For example, it says Firebird 3\.0 is going to be released in Q4 of 2007\.  Also, it provides estimated dates for versions already released\.

[2007-09-11 16:20] firebird-automations opened #12 "Outdated question: When will Firebird 2.0 be released? [WEB13]"
Submitted by: Fei (fx)

PAGE: <http://www.firebirdsql.org/index.php?op=faq#q0007.dat>

The question should be removed or changed to inquire about 2\.1/3\.0\.  It currently lists 2004/2005 as the expected release date of 2\.0\.

[2007-09-11 16:23] firebird-automations commented on #10
<details><summary>Modified by: Fei (fx)</summary>

description: Page:  <http://www.firebirdsql.org/index.php?op=devel&sub=engine&id=roadmap_2007&nosb=1>

Roadmap 2007 hasn't been updated since December 2006, so the estimated release dates are wrong\.

For example, it says Firebird 3\.0 is going to be released in Q4 of 2007\.  Also, it provides estimated dates for versions already released\.

 =\>

[2007-11-22 07:15] firebird-automations commented on #9
<details><summary>Modified by: @pcisar</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Helen Borrie \[ helebor \]
</details>

[2007-11-22 07:15] firebird-automations commented on #10
<details><summary>Modified by: @pcisar</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Dmitry Yemanov \[ dimitr \]
</details>

[2007-11-22 07:17] firebird-automations commented on #12
Commented by: @pcisar

Outdated\.

[2007-11-22 07:17] firebird-automations commented on #12
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Won't Fix \[ 2 \]
</details>

[2007-11-22 07:17] #12 closed, assigned to pcisar

[2007-12-31 08:04] firebird-automations commented on #9
Commented by: @pcisar

The FAQ subsystem was replaced by new one at <http://www.firebirdfaq.org/>

[2007-12-31 08:04] firebird-automations commented on #9
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2007-12-31 08:04] #9 closed, assigned to helebor

[2008-09-30 08:07] firebird-automations commented on #10
<details><summary>Modified by: @helebor</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2008-09-30 08:07] #10 closed, assigned to dyemanov

[2008-10-02 08:06] firebird-automations commented on #1
Commented by: @pcisar

Just testing event notifications\.

[2008-10-02 08:06] firebird-automations commented on #1
<details><summary>Modified by: @pcisar</summary>

status: Closed \[ 6 \] =\> Reopened \[ 4 \]

resolution: Won't Fix \[ 2 \] =\>
</details>

[2008-10-02 08:06] firebird-automations commented on #1
<details><summary>Modified by: @pcisar</summary>

status: Reopened \[ 4 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2008-10-02 08:06] #1 closed, assigned to pcisar

[2008-11-10 07:25] firebird-automations opened #13 "The snapshots are not working [WEB15]"
Submitted by: Kritsotakis Matheos (softgate)

I cannot access the snapshots so i cannot test the 2\.5\.0 Alpha\( may be there is a beta already\)

[2008-12-02 08:05] firebird-automations commented on #13
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2008-12-02 08:05] #13 closed, assigned to pcisar

[2009-05-07 22:23] firebird-automations opened #14 "Quick Start Guides are old links in index page [WEB17]"
Submitted by: @mariuz

In the left menu from first page the QSG should go to the html page or
pdf ones for Firebird 2\.1/2\.0
<http://www.firebirdsql.org/manual/qsg2.html>

now it shows firebrid 1\.5 and 2\.0 pdf , a little bit old links

[2009-05-07 22:27] firebird-automations opened #15 "Developers should be replaced with Core Developers [WEB18]"
Submitted by: @mariuz

left menu in index page <http://firebirdsql.org/> Developers should be replaced with Core Developers \(so users should not confuse with Normal Developers that use the firebird \)

[2009-05-07 22:30] firebird-automations opened #16 "Time to nominate Firebird for the Sourceforge Community Choice Awards [WEB19]"
Submitted by: @mariuz

Time to nominate Firebird for the Sourceforge Community Choice Awards should be on the front page in the news area also if possible
an div to be always in the front

<http://www.firebirdnews.org/?p=2782>

[2009-05-07 22:55] firebird-automations commented on #16
Commented by: @mariuz

ok maybe the div should be created only when the votes will open

[2009-05-07 23:03] firebird-automations opened #18 "ppc port and contest is over for many years [WEB20]"
Submitted by: @mariuz

at the bottom of the page there is an ppc port contest mention

the contest mention should be deleted

<http://www.firebirdsql.org/index.php?op=devel&sub=engine>

and on this page shoud be removed the mention about contest

<http://www.firebirdsql.org/index.php?op=devel&sub=engine&id=plat_ppc64>

pure ppc64 should be created , seems that now firebird is now ported to ppc32 \

[2009-05-07 23:08] firebird-automations opened #19 "create new wireframe for website [WEB21]"
Submitted by: @mariuz

we should cleanup the structure of the website and discuss it after that we will create the new design \(css2/div based\)

<http://www.nabble.com/Structure-of-website-proposal---1st-draft-td19901139.html>

[2009-08-11 10:50] firebird-automations opened #20 "PHP warning in left side [WEB22]"
Submitted by: Umberto Masotti (umasotti)

In <http://www.firebirdsql.org/index.php?op=devel&sub=plugins&id=external_java> in left column, in list of generated tables there are missing links\.

Warning: getrabbitinfolink\(\./rabbits/adrianodsf\.dat\) \[function\.getrabbitinfolink\]: failed to open stream: No such file or directory in /srv/www/htdocs/mainfile\.php on line 84

Warning: getrabbitinfol

[2009-08-20 14:32] firebird-automations commented on #20
Commented by: @cincuranet

Fixed\. Thanks for reporting\.

But I don't have rights to resolve ticket in WEB project\. So somebody has to resolve it\.

[2009-11-11 14:14] firebird-automations opened #21 "change behavior of Assignee in Firebird Tracker - now when we choose Any User we see also Unassigned raports [WEB23]"
Submitted by: @livius2

now we have:
1\. Any User
2\. Unassigned
3\. Current User

and we can not find reports assigned by users without unassigned

now when we choose Any User we see also Unassigned which is wrong
change this behavior or add:

1\. Any User
2\. Unassigned
3\. Without Unassigned <\-\- add this
4\. Current User
\.\.\.

[2009-11-11 14:15] firebird-automations commented on #21
<details><summary>Modified by: @livius2</summary>

priority: Major \[ 3 \] =\> Trivial \[ 5 \]
</details>

[2009-11-18 20:28] firebird-automations opened #22 "Remove Firebird.br (doesnt work anymore), and add FireBase [WEB24]"
Submitted by: @WarmBooter

Votes: 1

Please remove the <http://Firebird.br> item from the following link:
<http://www.firebirdsql.org/index.php?op=doc&id=othersites>

And ADD FireBase:
FireBase \(in Brazilian Portuguese\) \- <http://www.firebase.com.br>

[2009-11-18 20:47] firebird-automations commented on #22
<details><summary>Modified by: @pcisar</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Helen Borrie \[ helebor \]
</details>

[2010-01-15 09:36] firebird-automations opened #23 "After crash - in firebird tracker - Affects Version/s field now not contain links to versions only store plain text [WEB25]"
Submitted by: @livius2

After crash \- In firebird tracker \- Affects Version/s field now not contain links to versions
only store plain text like: Affects Version/s: 2\.1\.3; 2\.5
but should be presented as links like in Fix Version/s field

[2010-01-15 17:01] firebird-automations commented on #16
Commented by: @mariuz

This can be closed

[2010-01-15 17:01] firebird-automations commented on #16
<details><summary>Modified by: @mariuz</summary>

priority: Major \[ 3 \] =\> Trivial \[ 5 \]
</details>

[2010-01-15 17:07] firebird-automations commented on #22
Commented by: @mariuz

this can be fixed , alredy the page is modified <http://firebird.br> \-\> <http://firebase.com.br>

[2010-01-31 14:41] firebird-automations opened #25 "Missing FirebirdNews logo/link [WEB28]"
Submitted by: @WarmBooter

It seems that after all the problems with the hosting machines, the logo/link to FirebirdNews website that was present in the sidebar of <http://firebirdsql.org> mainpage disappeared\. Please insert it again\. Image can be found at <http://www.firebirdnews.org/?page_id=105>

[2010-04-08 08:40] firebird-automations opened #11 "cannot find any link for downloading version 3.0 [WEB29]"
Submitted by: Jacob Lee (letsgolee)

I think we lost a download link for version 3\.0\. anyway I had old one that I downloaded a few months ago\.\.\.

[2010-04-08 08:54] firebird-automations commented on #11
Commented by: @dyemanov

Download / Snapshot Builds

[2010-04-08 09:17] firebird-automations commented on #11
<details><summary>Modified by: @helebor</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Helen Borrie \[ helebor \]
</details>

[2010-04-08 09:21] firebird-automations commented on #11
Commented by: @helebor

There is no "version 3"\.  HEAD snapshots are available\.  Links are in several places, including the Home page \("currently testing"\) and the main Download page\.  Use the lists if you seek information, not the Tracker\.

[2010-04-08 09:21] firebird-automations commented on #11
<details><summary>Modified by: @helebor</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Won't Fix \[ 2 \]
</details>

[2010-04-08 09:21] #11 closed, assigned to helebor

[2010-04-08 09:22] firebird-automations commented on #11
Commented by: @helebor

Aint broke, can't fix\. ;\-\)

[2010-04-08 09:22] firebird-automations commented on #11
<details><summary>Modified by: @helebor</summary>

status: Resolved \[ 5 \] =\> Closed \[ 6 \]
</details>

[2010-07-26 18:33] firebird-automations opened #26 "wrong or obsolete version found 11.2, support 11.2 [WEB30]"
Submitted by: David Rodrigo (davidroliveira)

I have also tried to installe the 2\.5 snapshot server on another computer but it
still can't open\.

The error message says \(on a Firebird 2\.5 snapshot server\):

Wrong or obsolete version\.
Unsupported on\-disk structure for file FILNAVN; found 11\.2, support 11\.2

The error message says \(on a Firebird 2\.1 server\):

Wrong or obsolete version\.

[2010-10-05 10:09] firebird-automations opened #27 "Header on pages isn't clickable [WEB32]"
Submitted by: @cincuranet

It's common to have page header clickable taking you to root of the presentation\.

[2010-10-05 10:12] firebird-automations opened #28 "Header on homepage is different than on other pages [WEB33]"
Submitted by: @cincuranet

Header on homepage contains image with "10 years Firebird", but other pages are using the old image\. Either use same headers on all pages or at least make both same height\.

[2011-03-11 12:18] firebird-automations opened #29 ""All existing version" value for field "Affected version/s" in bug tracker [WEB35]"
Submitted by: @aafemt

It would be nice not to have to pick up all versions one\-by\-one if the bug exists from the beginning of time\.\.\.

[2011-03-11 13:22] firebird-automations commented on #29
Commented by: @pcisar

There is no way how to define such all\-inclusive value\.

[2011-03-11 13:22] firebird-automations commented on #29
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Won't Fix \[ 2 \]
</details>

[2011-03-11 13:22] #29 closed, assigned to pcisar

[2011-03-11 13:22] firebird-automations commented on #29
<details><summary>Modified by: @pcisar</summary>

status: Resolved \[ 5 \] =\> Closed \[ 6 \]
</details>

[2011-03-29 16:57] firebird-automations opened #30 "Missing Firebird 2 book [WEB36]"
Submitted by: @WarmBooter

Please add my second book to the <http://www.firebirdtest.com/en/books/> page\.

Pictures and description/resume can be taken at <http://www.lcm.com.br/versao_nova/index.php?Escolha=20&Livro=L00452>

[2011-03-29 17:04] firebird-automations opened #31 "Correct Sinática name [WEB37]"
Submitted by: @WarmBooter

Correct SinÁtica to Sinática in <http://www.firebirdtest.com/en/member-to-member-offers/>

[2011-03-29 17:11] firebird-automations opened #32 "Problem with donate link [WEB38]"
Submitted by: @WarmBooter

Assigned to: Sergey Mereutsa (green_dq)

In page "<http://www.firebirdtest.com/en/community/>", in the "Contributing to Firebird" banner, there is a donate link\. If you click it, a new page is open but there is no donate information on it\. Also, the link is opening the page in a new browser window/tab\.

[2011-03-29 19:59] firebird-automations opened #33 "Replace "click here" with better link titles [WEB39]"
Submitted by: Milan Babuskov (milan.babuskov)

Could you please change the <http://FirebirdFAQ.org> link from:

"The FAQ is maintained at a separate site by the community members\. Please follow \[this link\] to be redirected\."

to:

"The FAQ is maintained by the community members at \[<http://www.FirebirdFAQ.org>\]\."

Using "this link", "click here" and similar wording for links is not consider

[2011-03-29 20:07] firebird-automations opened #34 "Add links to administration tools [WEB40]"
Submitted by: Milan Babuskov (milan.babuskov)

Anyone interested in trying out Firebird would come to the website expecting to get a functioning database server and graphical administration tool\. I understand that tools are not developed by the project, but I believe it is very important to list some graphical administration tools on the website\. Otherwise, many people would come to a wrong conc

[2011-03-29 21:16] firebird-automations opened #35 "Some elements not visible or not working with FF and AdBlock Plus [WEB41]"
Submitted by: @ibaseru

Assigned to: Sergey Mereutsa (green_dq)

AdBlock Plugin successfuly cuts ad picture
<http://www.firebirdtest.com/banners/9846.jpg>
and the Welcome/Get Started \.\.\. block is not working\.

Turning adblock off enables these features, but if Adblock does this bad things to that design, so other "banner\-cutters" will do the same\.
So, I predict that people with these softwar

[2011-03-29 21:18] firebird-automations commented on #35
Commented by: @ibaseru

wow\. I was meaning new <http://www.firebirdtest.com/>

[2011-03-29 22:36] firebird-automations commented on #31
Commented by: Olga Popcova (olea.popcova)

Done\.

[2011-03-29 22:36] firebird-automations commented on #31
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-03-29 22:36] #31 closed, assigned to pcisar

[2011-03-29 23:19] firebird-automations commented on #33
Commented by: Olga Popcova (olea.popcova)

Done\.

[2011-03-29 23:19] firebird-automations commented on #33
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-03-29 23:19] #33 closed, assigned to pcisar

[2011-03-30 00:12] firebird-automations commented on #30
Commented by: Olga Popcova (olea.popcova)

Done\. In addition I have rearranged books \- ordered by publication year\.

[2011-03-30 00:12] firebird-automations commented on #30
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-03-30 00:12] #30 closed, assigned to pcisar

[2011-03-30 10:54] firebird-automations opened #36 "Scripted links don't work [WEB42]"
Submitted by: @aafemt

Assigned to: Sergey Mereutsa (green_dq)

Scripted links \(such as "New to Firebird? Lean more by reading its tutorials, articles and featured pages"\) doesn't work though mouse cursor has "hand" form\. Scripted links must die\!

[2011-03-30 11:04] firebird-automations commented on #36
Commented by: @dyemanov

They work for me \(they switch the tabs\)\. Does clicking on pictures \(those above the text you're referring to\) work for you?

[2011-03-30 11:20] firebird-automations commented on #36
Commented by: @alexeykovyazin

Please specify your browser\.
Also, do you have any popup\-blocker enabled?

[2011-03-30 12:19] firebird-automations commented on #36
Commented by: @aafemt

Guys, have you noticed field "Environment"? I don't see any pictures above\. I click on text where mouse cursor suggest a link\. And nothing change\.

Oh, I forgot to add that link "Track the latest news, events releases and case studies" works\. Only one from whole line\.

[2011-03-30 12:44] firebird-automations opened #17 "Low contrast while browsing with graphics turned off [WEB43]"
Submitted by: @aafemt

Assigned to: Sergey Mereutsa (green_dq)

Attachments:
[WeirdSite.PNG](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-43/11930_WeirdSite.PNG)
[img_off.png](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-43/11935_img_off.png)

White letters on gray background are hardly visible

[2011-03-30 12:46] firebird-automations commented on #17
Commented by: @aafemt

I attach it as a file because "Attch screenshot" require plugin which I don't have \(and don't want to install\)\.

[2011-03-30 12:46] firebird-automations commented on #17
<details><summary>Modified by: @aafemt</summary>

Attachment: WeirdSite\.PNG \[ 11930 \]
</details>

[2011-03-30 12:53] firebird-automations commented on #17
<details><summary>Modified by: @dyemanov</summary>

summary: Low contrast  =\> Low contrast while browsing with graphics turned off
</details>

[2011-03-30 12:59] firebird-automations commented on #35
Commented by: Sergey Mereutsa (green_dq)

This is because of "banners" name in the url\. We can move it to /68854C93/ \(hex value of hash\('banners'\)\), but it can confuse content managers\. Suggestions?

[2011-03-30 13:06] firebird-automations commented on #36
Commented by: Sergey Mereutsa (green_dq)

Do we really need to support 'noimages/noflash/noscript' mode for browsers?

P\.S\. Works for me in FF 4\.0 with JS turned on, i\.e\. menus \(Welcome, Get started, etc\) stil clickable and functional\.

[2011-03-30 13:17] firebird-automations commented on #36
Commented by: @aafemt

Do you really need to support browsers?\.\.

Look at screenshot in [WEB43](https://github.com/FirebirdSQL/web/issues?q=WEB43+in%3Atitle)\. Could you point me where all these "Welcome", "Get started" etc links are?\.\. I don't see them\.

[2011-03-30 13:40] firebird-automations commented on #36
Commented by: Sergey Mereutsa (green_dq)

Dimitry, I completely agree with you, that site must be readable in text\-only mode\. But since some liks was made using AJAX, we can not support browsers without JS\.

[2011-03-30 13:41] firebird-automations commented on #36
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-03-30 13:41] firebird-automations commented on #36
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Open \[ 1 \] =\> In Progress \[ 3 \]
</details>

[2011-03-30 13:44] firebird-automations commented on #35
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-03-30 13:49] firebird-automations commented on #36
Commented by: @aafemt

JS is enabled in my browser\. It works perfectly well with other AJAX\-based sites such as <http://forum.free-ro.ru/> but not this one\.

I can't understand what's wrong with old good <a\> tags\.\.\.

[2011-03-30 15:14] firebird-automations commented on #36
Commented by: Sergey Mereutsa (green_dq)

\>\>JS is enabled in my browser\. It works perfectly well with other AJAX\-based sites such as <http://forum.free-ro.ru/> but not this one\.
Hmm, can you open Adblock and say me what exactly it blocked? Entire content from /banners/ folder?

[2011-03-30 15:19] firebird-automations commented on #32
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-03-30 15:23] firebird-automations commented on #36
Commented by: @aafemt

This is list of blocked elements on the main page:

<http://1.2.3.8/bmi-int-js/bmi.js>
<http://www.firebirdtest.com/banners/banners.js?id=1301480021397>
<http://www.firebirdtest.com/js/swfobject.js>
<http://www.google-analytics.com/ga.js>

And yes, I have filter "\*/banners/\*"\.

[2011-03-30 18:02] firebird-automations opened #37 "Add Firebase FAQ [WEB44]"
Submitted by: @WarmBooter

Please add FireBase's FAQ \(in Portuguese\) to the following page at FBSQL new site:

In:

<http://www.firebirdtest.com/en/faq/>

Add:

<http://www.firebase.com.br/fb/faqindex.php>

[2011-03-30 20:09] firebird-automations commented on #37
Commented by: Olga Popcova (olea.popcova)

Done\.
I have added names for FAQs in Russian as well\.
Please, check, if the name I have written in Portuguese is a relevant one\.

[2011-03-30 20:21] firebird-automations opened #39 "Move Licensing, Features and SQL Conformance from "About Firebird" to "Documentation" [WEB45]"
Submitted by: Sean Leyne (seanleyne)

Assigned to: @alexeykovyazin

The new site looks very good \(don't know about the blue colour though\)\.  I have several comments/suggestions, this is the first\.

The noted menus/items are lost in the "About Firebird"\.  If I were a developer looking for details, I would almost never look there, "Documentation" is a more natural location\.

[2011-03-30 20:33] firebird-automations opened #41 "SQL Conformance page: several improvements [WEB46]"
Submitted by: Sean Leyne (seanleyne)

Votes: 1

1 \- Replace references to "Firebird 1\.5" and "Firebird 2\.0"
      \- simple "v1\.5" and "v2\.0\+"/"v2\.0 or later" labels are enough \-\- it is the Firebird web site after all\.

2 \- Change the width of the columns to make more at\-a\-glance readable:
      \- Decrease the width of the "Feature ID" column
      \- Increase the width of the "Featu

[2011-03-30 20:51] firebird-automations commented on #37
Commented by: @WarmBooter

If possible, change the "name" of the link to "Dicas sobre Firebird"

[2011-03-30 21:15] firebird-automations commented on #37
Commented by: Olga Popcova (olea.popcova)

Done\.

[2011-03-30 21:15] firebird-automations commented on #37
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-03-30 21:15] #37 closed, assigned to pcisar

[2011-03-31 07:53] firebird-automations commented on #41
<details><summary>Modified by: @dyemanov</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Dmitry Yemanov \[ dimitr \]
</details>

[2011-03-31 07:53] firebird-automations commented on #41
Commented by: @dyemanov

And obvious point \(4\) is to add v2\.1 and v2\.5 there ;\-\)

[2011-03-31 08:03] firebird-automations commented on #39
Commented by: @dyemanov

This information is expected to interest mostly newcomers, hence the location\. You can see that e\.g\. PGSQL also has this information in the "about" section\. Besides, there are shortcut links to all these items \(license, features, conformance\) from the "get started" tab of the home page\.

That said, I don't object to having the links to these pages in the documentati

[2011-03-31 08:17] firebird-automations commented on #39
Commented by: Olga Popcova (olea.popcova)

In Documentation \-\-\> Reference Manuals
<http://www.firebirdtest.com/en/reference-manuals/>
there are links to
\- licenses in "Firebird Licenses" subsection
as well as to
\- Firebird SQL Conformance in "Reference Material" subsection

[2011-03-31 14:11] firebird-automations opened #42 "Firebird Foundation in Home Page [WEB47]"
Submitted by: Fausto B. Mendonca (faustobm)

Assigned to: @alexeykovyazin

I think Firebird Foundation LOGO with Highlights in home page can incrase DONATORS and MEMBERS\.

[2011-03-31 19:01] firebird-automations commented on #42
Commented by: Olga Popcova (olea.popcova)

Please provide more details\.

[2011-03-31 19:28] firebird-automations commented on #32
Commented by: Olga Popcova (olea.popcova)

I have changed the link name in the "Contributing to Firebird" banner from "Donate" into "Contribute" \- the target page is "Get Involved"\.
For donations we have the "Donate Now" banner in the left side, having Donate button \- the target page contains respective information\.
Opening the page in the same window is fixed as well\.

[2011-03-31 19:28] firebird-automations commented on #32
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-03-31 19:28] #32 closed, assigned to nobody

[2011-03-31 19:59] firebird-automations opened #43 "Inconsistent behaviour: 'Welcome'-button reloads entire page [WEB48]"
Submitted by: @mrotteveel

Assigned to: Sergey Mereutsa (green_dq)

The behaviour of the 'Welcome'\-button is inconsistent with the other buttons\. When clicking 'Get Started', 'Stay In Touch' or 'Contribute', the content is loaded below the button\-bar without refreshing the entire page\. On the other hand, when clicking on 'Welcome', the entire page is reloaded\.

Steps to reproduce:
#&#x2060; G

[2011-03-31 20:02] firebird-automations commented on #39
Commented by: Sean Leyne (seanleyne)

@Dmitry

I don't agree that the items are only of interest to newcomers\.  At the same time, like you, I don't have a problem with the details being available from multiple links in the site\.

[2011-03-31 20:06] firebird-automations opened #44 "Favicon is 'ugly' and out-of-style [WEB49]"
Submitted by: @mrotteveel

Attachments:
[examples of favicons.jpg](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-49/11934_examples%20of%20favicons.jpg)

Votes: 1

The favicon on <http://www.firebirdtest.com/> is 'ugly' and out\-of\-style for the new layout \(and I think this also applies to the favicon on the tracker\)\.

Preferably the favicon should be replaced with one that l

[2011-03-31 20:14] firebird-automations opened #45 "'Upcoming events' image should link to detailed information [WEB50]"
Submitted by: @mrotteveel

The 'Upcoming events' image \(currently advertising the '8th Firebird Developers Day'\), should link to more information on 1\) the specific event and 2\) other events \(if any\)\.

Furthermore, I would expect a list of events \(if any\) to be available on the 'Community' section, or at least a more detailed message than just a banner\.

[2011-03-31 20:16] firebird-automations opened #47 "Opening RSS feed triggers logon popup for secure area [WEB51]"
Submitted by: @mrotteveel

Assigned to: Sergey Mereutsa (green_dq)

Attachments:
[Login popup.jpg](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-51/11932_Login%20popup.jpg)
[Full RSS page.jpg](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-51/11933_Full%20RSS%20page.jpg)

Clicking on the RSS icon on the main page, opens a new page which does display the RSS fee

[2011-03-31 20:17] firebird-automations commented on #47
<details><summary>Modified by: @mrotteveel</summary>

Attachment: Login popup\.jpg \[ 11932 \]
</details>

[2011-03-31 20:18] firebird-automations commented on #47
<details><summary>Modified by: @mrotteveel</summary>

Attachment: Full RSS page\.jpg \[ 11933 \]
</details>

[2011-03-31 20:20] firebird-automations opened #48 "Links in RSS feeds point to md26.dqteam.com instead of www.firebirdtest.com [WEB52]"
Submitted by: @mrotteveel

Assigned to: Sergey Mereutsa (green_dq)

The links in the RSS feed point to <http://md26.dqteam.com> and not to <http://www.firebirdtest.com>\.

[2011-03-31 20:21] firebird-automations commented on #48
Commented by: @mrotteveel

Potentially related to [WEB51](https://github.com/FirebirdSQL/web/issues?q=WEB51+in%3Atitle)

[2011-03-31 20:32] firebird-automations commented on #44
Commented by: @dyemanov

What favicon do you mean here?

[2011-03-31 20:54] firebird-automations commented on #44
Commented by: @mrotteveel

favicon is the icon displayed in the title bar of your browser or browsing tab:

For <http://firebirdtest.com>: <http://www.firebirdtest.com/favicon.ico>
For <http://tracker.firebirdsql.org>: <http://tracker.firebirdsql.org/favicon.ico>
For twitter: <http://twitter.com/favicon.ico>
\(you might start to see a pattern here ;\)

[2011-03-31 20:57] firebird-automations commented on #44
<details><summary>Modified by: @mrotteveel</summary>

Attachment: examples of favicons\.jpg \[ 11934 \]
</details>

[2011-03-31 21:12] firebird-automations opened #49 "Historic Reference needs rewrite [WEB53]"
Submitted by: @mrotteveel

Votes: 1

The Historic Reference \(<http://www.firebirdtest.com/en/historical-reference/> \) is in need of a rewrite and update \(looks like it was copied directly from the old site\)

Problems I notice on a quick glance are:
\* Introduction is worded in a weird way \(and grammatically incorrect\)
\* The historic overview is not really coherent \(and some parts might be

[2011-03-31 21:18] firebird-automations opened #50 "Incorrect link: 'Get Started' to 'Case Studies' [WEB54]"
Submitted by: @mrotteveel

Assigned to: Sergey Mereutsa (green_dq)

The 'Get Started' text the link 'Case Studies' points to <http://www.firebirdtest.com/en/case-studies/> which is empty\. The menu item 'Case Studies'  points to <http://www.firebirdtest.com/en/case-studies-catalog/> which does have content\.

[2011-03-31 21:20] firebird-automations commented on #49
Commented by: @alexeykovyazin

This introduction was copied from old site, of course\.

As I understood, you are native English speaker\.
It would be great if you could contribute by re\-writing history in correct English\.

Regards,
Alexey Kovyazin

[2011-04-01 14:26] firebird-automations opened #51 "Instead of a list of links to blogs having a Planet [WEB55]"
Submitted by: @pmakowski

Assigned to: Sergey Mereutsa (green_dq)

Instead having a list of blogs here : <http://www.firebirdtest.com/en/blogs/>
it should be better to have a Planet Firebird

example of "Planets" :

<http://planet.fedoraproject.org/>
<http://planet.mozilla.org/>
<http://planet.mageia.org/>

example of software to create a planet :
<http://moonmoon.org/>

[2011-04-01 17:17] firebird-automations commented on #35
Commented by: Sergey Mereutsa (green_dq)

/banners/ folder was renamed to hex from hash\('banners'\) \- 68854C93\. Now it is fully functional under FF 4\.0 and active Adblock Plus\.

[2011-04-01 17:17] firebird-automations commented on #35
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-01 17:17] #35 closed, assigned to nobody

[2011-04-01 17:19] firebird-automations commented on #36
Commented by: Sergey Mereutsa (green_dq)

Banners folder renamed to 68854C93\.

[2011-04-01 17:19] firebird-automations commented on #36
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: In Progress \[ 3 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-01 17:19] #36 closed, assigned to nobody

[2011-04-01 17:20] firebird-automations commented on #47
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-04-01 17:28] firebird-automations commented on #17
Commented by: Sergey Mereutsa (green_dq)

Done\. Looks ugly a bit, but readable\.

[2011-04-01 17:28] firebird-automations commented on #17
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

Attachment: img\_off\.png \[ 11935 \]
</details>

[2011-04-01 17:28] firebird-automations commented on #17
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-04-01 17:29] firebird-automations commented on #17
Commented by: Sergey Mereutsa (green_dq)

See screenshot in attachments\.

[2011-04-01 17:29] firebird-automations commented on #17
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-01 17:29] firebird-automations commented on #48
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-04-01 17:41] firebird-automations commented on #17
Commented by: @aafemt

Invisible buttons "Donate Now" and "Search" do fit this issue or I should open new one? And I'm not sure if part "Follow Us" really intended to do nothing\.\.\.

PS: Black current category name on black background \("Download" on your screenshot\) is not much funnier that white\-on\-ligthgray\.\.\.

[2011-04-01 18:00] firebird-automations commented on #17
Commented by: Sergey Mereutsa (green_dq)

Ok, let it be open, until we fix it\.

[2011-04-01 18:00] firebird-automations commented on #17
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Resolved \[ 5 \] =\> Reopened \[ 4 \]

resolution: Fixed \[ 1 \] =\>
</details>

[2011-04-01 18:00] firebird-automations commented on #17
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

priority: Major \[ 3 \] =\> Minor \[ 4 \]
</details>

[2011-04-02 11:36] firebird-automations commented on #17
Commented by: Sergey Mereutsa (green_dq)

Dimitry, you are right, it looks not good\. We will redesign text\-only version\.

[2011-04-03 14:14] firebird-automations commented on #49
Commented by: @mrotteveel

I am not a native speaker, but I'd gladly help with this\.

[2011-04-03 17:54] firebird-automations opened #52 "Add "Get to know FB in 2 min" link in About page [WEB56]"
Submitted by: @WarmBooter

I think it would be really useful to have a link to "Get to know Firebird in 2 minutes" document \(<http://www.firebirdnews.org/?page_id=165>\), in page <http://www.firebirdtest.com/en/about-firebird/>

I know there are already links to it in other pages, but the About page is probably a landing page for new users, and most of them probably are seeking for fast and easy

[2011-04-03 21:42] firebird-automations opened #53 "Web-site look is incorrect at Safari (iPhone and iPad) [WEB57]"
Submitted by: @alexeykovyazin

Assigned to: Sergey Mereutsa (green_dq)

Attachments:
[iphone_look_bug.jpg](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-57/11938_iphone_look_bug.jpg)
[ipad_safari_fixed.png](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-57/11942_ipad_safari_fixed.png)

Web\-site look is incorrect at Safari \(iPhone and iPad\)\. See attached scr

[2011-04-03 21:43] firebird-automations commented on #53
<details><summary>Modified by: @alexeykovyazin</summary>

Attachment: iphone\_look\_bug\.jpg \[ 11938 \]
</details>

[2011-04-04 17:41] firebird-automations commented on #44
Commented by: Olga Popcova (olea.popcova)

Favicon is replaced\.

[2011-04-04 17:41] firebird-automations commented on #44
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-04 17:41] #44 closed, assigned to pcisar

[2011-04-04 20:12] firebird-automations commented on #45
Commented by: Olga Popcova (olea.popcova)

Done\.
The '8th Firebird Developers Day' image links to detailed information on this event:
<http://www.firebirdtest.com/en/news/8th-firebird-developers-day-information-9975/>
The list of all 'News & Events' is already available in the 'About Firebird' section:
<http://www.firebirdtest.com/en/news/>

[2011-04-04 20:12] firebird-automations commented on #45
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-04 20:12] #45 closed, assigned to pcisar

[2011-04-04 22:55] firebird-automations commented on #53
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-04-04 23:12] firebird-automations commented on #48
Commented by: Sergey Mereutsa (green_dq)

Reference to test site removed, thank you\.

[2011-04-04 23:12] firebird-automations commented on #48
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-04 23:12] #48 closed, assigned to nobody

[2011-04-04 23:19] firebird-automations commented on #47
Commented by: Sergey Mereutsa (green_dq)

Link to the internal site removed, thank you\.

[2011-04-04 23:19] firebird-automations commented on #47
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-04 23:19] #47 closed, assigned to nobody

[2011-04-06 00:11] firebird-automations opened #54 "Error: The comments plugin requires an href parameter [WEB58]"
Submitted by: @WarmBooter

Assigned to: Sergey Mereutsa (green_dq)

In some pages, like <http://www.firebirdtest.com/en/news/8th-firebird-developers-day-information-9975/>
when you click "show comments", you get:

"The comments plugin requires an href parameter\."

[2011-04-07 17:05] firebird-automations commented on #54
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-04-07 17:05] firebird-automations commented on #54
Commented by: Sergey Mereutsa (green_dq)

I hate Facebook sometimes\. They deprecated one comments plugin and force us to use new one :\)

[2011-04-07 17:06] firebird-automations commented on #43
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-04-07 17:07] firebird-automations commented on #50
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-04-07 17:08] firebird-automations commented on #50
Commented by: Sergey Mereutsa (green_dq)

We changed logic for this page a bit \- it show case studies and testimonials now\.

[2011-04-07 17:08] firebird-automations commented on #50
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-07 17:08] #50 closed, assigned to nobody

[2011-04-07 17:35] firebird-automations commented on #53
Commented by: Sergey Mereutsa (green_dq)

Images fixed \- it was a problem with JPEG\`s\.

[2011-04-07 17:35] firebird-automations commented on #53
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

Attachment: ipad\_safari\_fixed\.png \[ 11942 \]
</details>

[2011-04-07 17:35] firebird-automations commented on #53
Commented by: Sergey Mereutsa (green_dq)

Images fixed\.

[2011-04-07 17:35] firebird-automations commented on #53
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-07 17:35] #53 closed, assigned to nobody

[2011-04-08 21:43] firebird-automations opened #55 "Add NNTP for FireBase list [WEB59]"
Submitted by: @WarmBooter

In page <http://www.firebirdtest.com/en/mailing-lists/>

Please add the information that the list is mirrored in NNTP format at news://news\.gmane\.org/gmane\.comp\.db\.firebase\.portuguese
The portuguese text for this should be:

"A lista pode ser acessada via newsserver pelo endereço news://news\.gmane\.org/gmane\.comp\.db\.firebase\.portuguese"

Also, mention that the

[2011-04-08 21:47] firebird-automations opened #24 "Atkins server is down for a long time (dead?) - change to gmane [WEB60]"
Submitted by: @WarmBooter

Assigned to: Olga Popcova (olea.popcova)

Votes: 1

In page <http://www.firebirdtest.com/en/mailing-lists/> there are several links to atkins server, but the server seems to be down for months\.

I suggest stopping using atkins, and replicate all the lists to newsgroups using <http://gmane.org>

[2011-04-08 22:46] firebird-automations commented on #24
Commented by: @helebor

Atkin server is dead forever\.  We have applied months ago for gmane accounts for all of the lists\.  To date, only two have been approved: firebird\-general \(gf\-firebird\-general\) and firebird\-support \(gcdfu\-firebird\-support\)\.  There may be unofficial others that we don't know about\.

[2011-04-08 23:01] firebird-automations commented on #24
Commented by: @WarmBooter

Some years ago, I tried to register some of the Firebird lists in gmane, but it was refused\. The rejection message was not clear, and I understood that it was rejected by gmane\. It was very easy to contact gmane staff and ask why it was rejected\. They kindly replied that it was actually rejected by the list owner, not by them, and that I should contact the list owner

[2011-04-12 12:32] firebird-automations commented on #43
Commented by: Sergey Mereutsa (green_dq)

Fixed, now it show page content without reloading \(except first visit, of course\)\.

[2011-04-12 12:32] firebird-automations commented on #43
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-12 12:32] #43 closed, assigned to nobody

[2011-04-13 21:02] firebird-automations commented on #54
Commented by: Sergey Mereutsa (green_dq)

Fixed \- we switched to next FB comments plugin\.

[2011-04-13 21:02] firebird-automations commented on #54
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-13 21:02] #54 closed, assigned to nobody

[2011-04-13 21:10] firebird-automations commented on #51
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-04-13 21:11] firebird-automations commented on #17
Commented by: Sergey Mereutsa (green_dq)

Now, it seems to look ok, even with images turned off\. Some pages are unusable, but this is as designed \(all pages with capcha\)\.

[2011-04-13 21:12] firebird-automations commented on #17
Commented by: Sergey Mereutsa (green_dq)

Done\.

[2011-04-13 21:12] firebird-automations commented on #17
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Reopened \[ 4 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-13 21:12] #17 closed, assigned to nobody

[2011-04-13 21:27] firebird-automations commented on #54
Commented by: @WarmBooter

I tested it right now, and seems that the problem still exists\.

BTW, facebook?

[2011-04-13 22:26] firebird-automations commented on #54
Commented by: Sergey Mereutsa (green_dq)

Hmm, just checked on Documentation page \- it is worked\. Which page you tested? May be cache\.\.\.

What is wrong with Facebook? Do you have another option? Some our clients asked us to change Facebook comments to disqus, but it is not the case, I think\.

[2011-04-15 22:51] firebird-automations opened #56 "BraSil [WEB61]"
Submitted by: @WarmBooter

In the page:
<http://www.firebirdtest.com/en/firebase-brazil/>

As the content is in Portuguese, please correct Brazil to Brasil, since this is the way we write here\.

[2011-04-20 15:42] firebird-automations opened #57 "FB license is missing [WEB62]"
Submitted by: @WarmBooter

I wasn't able to find the Firebird license in the new site\. I think it should be easily available, at last in two pages:

<http://www.firebirdtest.com/en/about-firebird/>

and

<http://www.firebirdtest.com/en/documentation/>

[2011-04-20 16:27] firebird-automations commented on #57
Commented by: @dyemanov

<http://www.firebirdtest.com/en/licensing/> \-\- directly in "About Firebird"
<http://www.firebirdtest.com/en/reference-manuals/> \-\- you need to scroll down

[2011-04-20 16:52] firebird-automations commented on #57
Commented by: @WarmBooter

Damn, I'm probably blind\. Thanks Dmitry\!

[2011-04-20 21:35] firebird-automations commented on #56
Commented by: Olga Popcova (olea.popcova)

Done\. I have made the same corrections with
Russia \-\-\> Россия
Italy \-\> Italia
for other 2 pages\.

[2011-04-20 21:35] firebird-automations commented on #56
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-20 21:35] #56 closed, assigned to pcisar

[2011-04-20 21:41] firebird-automations commented on #57
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-20 21:41] #57 closed, assigned to pcisar

[2011-04-20 22:07] firebird-automations commented on #55
Commented by: Olga Popcova (olea.popcova)

Done\.

[2011-04-20 22:07] firebird-automations commented on #55
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-04-20 22:07] #55 closed, assigned to pcisar

[2011-04-23 11:45] firebird-automations opened #58 "Add link to mailinglists from 'Community' section [WEB63]"
Submitted by: @mrotteveel

I was browsing through the new website and first thought I missed the link to the mailinglists \(I expected them under Community\)\. I think it would be advisable to crosslink from Community to the mailinglists \(under Support\), as the support mailinglists are a large part of the Firebird Community\.

[2011-05-03 10:27] firebird-automations opened #59 "Vulcan should be removed from tracker [WEB64]"
Submitted by: @mariuz

vulcan should be removed from tracker , my guess is that is not maintained anymore and is confusing option when submitting new bugs

<http://tracker.firebirdsql.org/browse/VLC>

[2011-05-03 10:40] firebird-automations commented on #59
Commented by: @dyemanov

Agreed\.

[2011-05-03 16:30] firebird-automations opened #60 "Books page [WEB65]"
Submitted by: @WarmBooter

Please, change the "buy here" links of my 2 books as following:

Firebird 2 \- link to <http://www.firebase.com.br/fb/produtos.php#fb2>

Firebird Essencial \- link to <http://www.firebase.com.br/fb/produtos.php#fbessencial>

Also, change "buy here" to "Compre aqui"

[2011-05-06 11:59] firebird-automations commented on #26
Commented by: @alexeykovyazin

Most likely Issue was resolved during release cycle\. If it's not, please raise in the correct section \(not WEB\)\.

[2011-05-06 11:59] firebird-automations commented on #26
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Won't Fix \[ 2 \]
</details>

[2011-05-06 11:59] #26 closed, assigned to pcisar

[2011-05-06 11:59] firebird-automations commented on #15
Commented by: @alexeykovyazin

Obsolete issue\.

[2011-05-06 11:59] firebird-automations commented on #15
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Won't Fix \[ 2 \]
</details>

[2011-05-06 11:59] #15 closed, assigned to pcisar

[2011-05-06 12:01] firebird-automations commented on #18
Commented by: @alexeykovyazin

Issue becomes obsolete with moving to the new site\.

[2011-05-06 12:01] firebird-automations commented on #18
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Won't Fix \[ 2 \]
</details>

[2011-05-06 12:01] #18 closed, assigned to pcisar

[2011-05-06 12:02] firebird-automations commented on #19
Commented by: @alexeykovyazin

New site is in development \- <http://www.firebirdtest.com>

[2011-05-06 12:02] firebird-automations commented on #19
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-05-06 12:02] #19 closed, assigned to pcisar

[2011-05-06 12:02] firebird-automations commented on #22
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-05-06 12:02] #22 closed, assigned to helebor

[2011-05-06 12:03] firebird-automations commented on #25
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-05-06 12:03] #25 closed, assigned to pcisar

[2011-05-06 12:04] firebird-automations commented on #27
Commented by: @alexeykovyazin

Issues becomes obsolete with new version of web site\.

[2011-05-06 12:04] firebird-automations commented on #27
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Won't Fix \[ 2 \]
</details>

[2011-05-06 12:04] #27 closed, assigned to pcisar

[2011-05-06 12:04] firebird-automations commented on #23
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Won't Fix \[ 2 \]
</details>

[2011-05-06 12:04] #23 closed, assigned to pcisar

[2011-05-06 12:05] firebird-automations commented on #42
Commented by: @alexeykovyazin

Postponed\.

[2011-05-06 12:05] firebird-automations commented on #42
<details><summary>Modified by: @alexeykovyazin</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Alexey Kovyazin \[ alexey\.kovyazin \]

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Won't Fix \[ 2 \]
</details>

[2011-05-06 12:05] #42 closed, assigned to nobody

[2011-05-06 12:06] firebird-automations commented on #28
Commented by: @alexeykovyazin

Issue becomes obsolete with new version of web site\.

[2011-05-06 12:06] firebird-automations commented on #28
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Won't Fix \[ 2 \]
</details>

[2011-05-06 12:06] #28 closed, assigned to pcisar

[2011-05-06 12:24] firebird-automations commented on #52
Commented by: @alexeykovyazin

About Firebird is not landing page for the new users\. It's /afterinstall\.
I am not happy with About Firebird, it should be replaced with better Firebird presentation, but at the moment we are looking to deliver new web\-site asap\.

[2011-05-06 12:31] firebird-automations commented on #39
<details><summary>Modified by: @alexeykovyazin</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Alexey Kovyazin \[ alexey\.kovyazin \]

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-05-06 12:31] #39 closed, assigned to nobody

[2011-05-06 12:31] firebird-automations commented on #16
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-05-06 12:31] #16 closed, assigned to pcisar

[2011-05-06 12:32] firebird-automations commented on #20
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-05-06 12:32] #20 closed, assigned to pcisar

[2011-05-06 12:32] firebird-automations commented on #14
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-05-06 12:32] #14 closed, assigned to pcisar

[2011-05-06 12:50] firebird-automations commented on #24
Commented by: @alexeykovyazin

Helen,

I can't find gcdfu\-firebird\-support or gf\-firebird\-general landing pages\.
Search through qmane gives links to some messages with \[firebird\-support\] in the email subjects, but clicking on them produces "No such group error"\.

[2011-05-18 13:36] firebird-automations opened #61 "non existin link for "FB/Java" plug-in preliminary test version" [WEB66]"
Submitted by: Derryck welas (welas)

Votes: 1

 "FB/Java" plug\-in preliminary test version
<http://www.firebirdsql.org/index.php?op=devel&sub=plugins&id=external_java>    =  ok

so on next page
Download the Fb/Java Plug\-in and server for 32\-bit Windows\.

<http://www.firebirdsql.org/downloads/rabbits/asfernandes/fbjava/fbjava-m1.zip>      = fails

Hope this is the place to report this\.
Derryck

[2011-05-20 09:05] firebird-automations opened #62 "Policy Concerning Use of the Firebird Trademark and Associated Marks [WEB67]"
Submitted by: @pmakowski

Assigned to: Olga Popcova (olea.popcova)

Our new policy is there : <http://www.firebirdsql.org/index.php?op=ffoundation&sub=docs&id=brand_rules_final&nosb=1>

please change the following web pages :

<http://firebirdsql.org/index.php?op=ffoundation&id=firebirdbrandfaq>

and

<http://www.firebirdtest.com/en/firebird-brand-faq/>

thanks

[2011-05-20 10:42] firebird-automations commented on #62
<details><summary>Modified by: @helebor</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Helen Borrie \[ helebor \]
</details>

[2011-05-20 10:46] firebird-automations commented on #62
<details><summary>Modified by: @helebor</summary>

timespent: 300 \[ 300 \]

timeestimate: 0 \[ 0 \]
</details>

[2011-05-20 10:46] firebird-automations commented on #62
<details><summary>Modified by: @helebor</summary>

status: Open \[ 1 \] =\> In Progress \[ 3 \]
</details>

[2011-05-20 10:48] firebird-automations commented on #62
Commented by: @helebor

Changes on existing website are done, please refer to log\.

[2011-05-23 11:12] firebird-automations commented on #62
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Helen Borrie \[ helebor \] =\> Olga Popcova \[ olea\.popcova \]
</details>

[2011-05-25 23:24] firebird-automations commented on #62
Commented by: Olga Popcova (olea.popcova)

Done for new site\.

[2011-05-25 23:24] firebird-automations commented on #62
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: In Progress \[ 3 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-05-25 23:24] #62 closed, assigned to nobody

[2011-05-25 23:36] firebird-automations commented on #60
Commented by: Olga Popcova (olea.popcova)

Done\.

[2011-05-25 23:36] firebird-automations commented on #60
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-05-25 23:36] #60 closed, assigned to pcisar

[2011-06-02 12:33] firebird-automations commented on #34
Commented by: @alexeykovyazin

We have no clear policy how to deal with third\-party tools\. Common\-sense tells that we need support those who support Firebird \- i\.e\., sponsors\.
Until it's not ratified, we will have almost the same information as it was at old site\. Right now it looks like this <http://www.firebirdtest.com/en/third-party-tools/>

[2011-06-02 12:33] firebird-automations commented on #34
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-06-02 12:33] #34 closed, assigned to pcisar

[2011-06-03 10:29] firebird-automations commented on #58
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-06-03 10:29] #58 closed, assigned to pcisar

[2011-06-03 11:16] firebird-automations commented on #51
Commented by: @alexeykovyazin

To be done at next step of ws development

[2011-06-04 17:39] firebird-automations opened #63 "Copyright is 2000-2010 and must be updated [WEB68]"
Submitted by: @mariuz

 Copyright © 2000\-2010, Firebird Project\.

[2011-06-04 17:46] firebird-automations opened #64 "New site isn't update to show .NET provider 2.6.5 release [WEB69]"
Submitted by: @mariuz

the new site doesn't contain new links added on Friday for 2\.6\.5
release of \.NET provider\. The old site has correct content\. As it's
now hot, can you please fix it ASAP\. Thanks\.

[2011-06-04 19:49] firebird-automations opened #66 "Firebird-website mailing list is missing [WEB70]"
Submitted by: @mariuz

Assigned to: Olga Popcova (olea.popcova)

On the mailing list page the firebird\-website is missing
<http://www.firebirdsql.org/en/mailing-lists/>

it should point to
<https://lists.sourceforge.net/lists/listinfo/firebird-website>

[2011-06-04 22:54] firebird-automations commented on #64
Commented by: Olga Popcova (olea.popcova)

Fixed\.

[2011-06-04 22:54] firebird-automations commented on #64
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-06-04 22:54] #64 closed, assigned to pcisar

[2011-06-04 23:10] firebird-automations commented on #63
Commented by: Olga Popcova (olea.popcova)

Fixed\.

[2011-06-04 23:10] firebird-automations commented on #63
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-06-04 23:10] #63 closed, assigned to pcisar

[2011-06-05 03:01] firebird-automations opened #67 "Empty folder in Snapshot Builds [WEB71]"
Submitted by: Claudio Romero (clauslack)

Assigned to: Sergey Mereutsa (green_dq)

Empty folder for

<http://www.firebirdsql.org/download/snapshot_builds/win/>

and

<http://www.firebirdsql.org/download/snapshot_builds/linux/>

Regards

[2011-06-05 05:33] firebird-automations opened #68 "Wrong Series 2.5.x Roadmap Track Details link [WEB72]"
Submitted by: @luronumen

1\. Go to <http://www.firebirdsql.org/en/roadmap/> ;
2\. select v2\.5\.1 link ;

Actual Result:
"Release Notes \- Firebird Core \- Version 2\.1\.5 \- HTML format" page is opened\.

Expected Result:
"Release Notes \- Firebird Core \- Version 2\.5\.1 \- HTML format" should be opened\.

[2011-06-05 09:21] firebird-automations commented on #68
<details><summary>Modified by: @dyemanov</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Dmitry Yemanov \[ dimitr \]
</details>

[2011-06-05 10:34] firebird-automations commented on #67
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-06-05 10:36] firebird-automations commented on #67
Commented by: Sergey Mereutsa (green_dq)

Pavel, can you send to me the public key for user which you are using to upload snapshots?

[2011-06-05 10:44] firebird-automations commented on #68
<details><summary>Modified by: @dyemanov</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-06-05 10:44] #68 closed, assigned to dyemanov

[2011-06-05 10:44] firebird-automations commented on #68
Commented by: @dyemanov

Fixed, thanks\.

[2011-06-05 14:01] firebird-automations commented on #67
Commented by: @pmakowski

Sergey,

I allready sent it

and I don't think it is the best way
in fact just change the links to
<http://web.firebirdsql.org/download/snapshot_builds/>

and that way we don't need to change our builds process
and we keep also rabbits holes like this one <http://web.firebirdsql.org/rabbits/makowski/>

[2011-06-05 14:09] firebird-automations commented on #66
Commented by: Olga Popcova (olea.popcova)

Fixed\.
Firebird\-website and Firebird\-test mailing lists were added\.

[2011-06-05 14:09] firebird-automations commented on #66
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-06-05 14:09] #66 closed, assigned to nobody

[2011-06-05 15:26] firebird-automations opened #69 "Missing information in each Firebird sub-project from Firebird Development link [WEB73]"
Submitted by: @luronumen

Assigned to: Sergey Mereutsa (green_dq)

1\- Go to <http://www.firebirdsql.org/en/development/> ;
2\- Open each sub\-project link:
     \- Firebird Server
     \- Quality Assurance
     \- Documentation
     \- JDBC Driver
     \- ODBC Driver
     \- \.NET Provider
     \- Python Driver

Actual result:
The links are open but nothing information about each sub\-project are

[2011-06-05 17:32] firebird-automations commented on #69
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-06-05 17:42] firebird-automations commented on #67
Commented by: Sergey Mereutsa (green_dq)

Links are changed\.

[2011-06-05 17:43] firebird-automations commented on #67
Commented by: Sergey Mereutsa (green_dq)

Links changed to the old site\.

[2011-06-05 17:43] firebird-automations commented on #67
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-06-05 17:43] #67 closed, assigned to nobody

[2011-06-06 11:31] firebird-automations commented on #69
Commented by: @alexeykovyazin

fixed

[2011-06-06 11:31] firebird-automations commented on #69
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-06-06 11:31] #69 closed, assigned to nobody

[2011-06-06 13:15] firebird-automations opened #70 "404 for most links in 'Get Started' section [WEB74]"
Submitted by: @pavel-zotov

Assigned to: Olga Popcova (olea.popcova)

1\. the following links currently are unavaliable in 'Get Started' section:

<http://www.firebirdsql.org/en/feature-matrix/>
<http://www.firebirdsql.org/file/documentation/reference_manuals/basic_documentation/html/qsg25-classic-or-super.html>
<http://www.firebirdsql.org/file/documentation/reference_manuals/basic_documentation/h

[2011-06-06 13:27] firebird-automations opened #71 "Mouse cursor remains in form of 'Pointing Finger' when mouse moves over selected section name [WEB75]"
Submitted by: @pavel-zotov

Assigned to: Sergey Mereutsa (green_dq)

1\. Select 'Stay In Touch' \(or another section\)
2\. Picture turns down, text becomes blue\-green
3\. Mouse cursor remains in form of pointing to link\. But I'm already COME to this section\. Cursor must be in simple form of arrow during moving over this section name\.

[2011-06-06 13:37] firebird-automations commented on #71
Commented by: @alexeykovyazin

I am not convinced that it is necessary\. Can you please provide examples of behaviour you need at other websites?

[2011-06-06 13:43] firebird-automations opened #72 "Downloads / Latest Release 2.5 / read_more - does not link to any new text [WEB76]"
Submitted by: @pavel-zotov

Assigned to: Olga Popcova (olea.popcova)

the link 'read more' in  Downloads / Latest Release 2\.5  does not update anything on the page \( <http://www.firebirdsql.org/en/firebird-2-5/> \)\.
May be this link intended for FB Release News ?

[2011-06-06 13:46] firebird-automations commented on #72
Commented by: @alexeykovyazin

Link read more is located at the banner, not at the page\.
There should be improvement to do not show this banner on this particular page\.

[2011-06-06 13:47] firebird-automations commented on #72
<details><summary>Modified by: @alexeykovyazin</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]

issuetype: Bug \[ 1 \] =\> Improvement \[ 4 \]
</details>

[2011-06-06 14:01] firebird-automations commented on #72
Commented by: @helebor

That "Read More" link behaves as though it points to information about the release, which should be the content from <http://web.firebirdsql.org/index.php?op=devel&sub=engine&id=fb25_release>

[2011-06-06 19:53] firebird-automations commented on #70
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Olga Popcova \[ olea\.popcova \]
</details>

[2011-06-06 20:13] firebird-automations commented on #72
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Sergey Mereutsa \[ green\_dq \] =\> Olga Popcova \[ olea\.popcova \]
</details>

[2011-06-06 20:22] firebird-automations commented on #70
Commented by: Olga Popcova (olea.popcova)

Items 1\.\-2\. are fixed\.

[2011-06-06 21:11] firebird-automations commented on #71
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-06-06 21:41] firebird-automations commented on #72
Commented by: Olga Popcova (olea.popcova)

A new page "Firebird 2\.5 Release Description" was created\.
<http://www.firebirdsql.org/en/firebird-2-5-release-description/>
Now the "Read More" link points to it, instead of Downloads \-\-\> Server Packages \-\-\> Firebird 2\.5 as before\.

To make the improvement, mentioned by Alexey \- "to do not show this banner on this particular page" \- we need t

[2011-06-07 17:58] firebird-automations commented on #44
Commented by: @mrotteveel

Issue is still present on <http://www.firebirdsql.org/>

[2011-06-08 22:51] firebird-automations opened #73 "Wrong RSS address in the "Subscribe" page [WEB77]"
Submitted by: Grzegorz Skoczylas (gskoczylas)

Assigned to: Sergey Mereutsa (green_dq)

I signed up for the newsletter\. Then I clicked on the icon for RSS feed\. This leads to a nonexistent address "<http://dfp.firebirdsql.org/en/subscribe/>"\.

[2011-06-09 15:55] firebird-automations commented on #73
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-06-09 17:00] firebird-automations commented on #73
Commented by: Sergey Mereutsa (green_dq)

Fixed, link points now on static site, even from DFP\.

[2011-06-09 17:00] firebird-automations commented on #73
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-06-09 17:00] #73 closed, assigned to nobody

[2011-06-18 02:07] firebird-automations opened #74 "New site is still missing several mail list entries [WEB78]"
Submitted by: @helebor

Assigned to: Sergey Mereutsa (green_dq)

Some missing entries previously reported have been fixed\.  The following are still missing:
firebird\-devel
ib\-conversions
Italian language
firebird\-odbc\-devel
firebird\-net\-provider
firebird\-coredocs
firebird\-job\-board

As before, it is suggested that dqteam pick up the \./lists/dat files from the old website

[2011-06-18 02:09] firebird-automations commented on #74
Commented by: @helebor

Sergey, please look at the script \./lists/main\.php for the logic that picks up the entries from the \.dat files\.

[2011-06-18 02:09] firebird-automations commented on #74
<details><summary>Modified by: @helebor</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-06-23 17:32] firebird-automations commented on #41
Commented by: @mariuz

I agree with the symbols comment
the style should be refined to include the images for check\-mark , x, disabled \(also colors like on wikipedia comparision tables\)

[2011-06-29 19:15] firebird-automations commented on #74
Commented by: Olga Popcova (olea.popcova)

Done\.

[2011-06-29 19:15] firebird-automations commented on #74
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-06-29 19:15] #74 closed, assigned to nobody

[2011-06-29 19:17] firebird-automations commented on #70
Commented by: Olga Popcova (olea.popcova)

Item 3\. is fixed\.

[2011-06-29 19:17] firebird-automations commented on #70
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-06-29 19:17] #70 closed, assigned to nobody

[2011-08-26 17:02] firebird-automations opened #75 "Put anchors to RC1 page and then all release pages [WEB80]"
Submitted by: @alexeykovyazin

Assigned to: Olga Popcova (olea.popcova)

All platforms subtitles should have anchors \(with the same name as subtitle text\) \.

At the beginning of the page should be text links with Platform names, which open appropriate tags\.

Pages to fix
<http://www.firebirdsql.org/en/firebird-2-5-1-rc1/>
<http://www.firebirdsql.org/en/firebird-2-5/>
<http://www.firebirdsql.or

[2011-08-26 17:05] firebird-automations commented on #75
<details><summary>Modified by: @alexeykovyazin</summary>

security: Managers \[ 10013 \] =\> Developers \[ 10012 \]
</details>

[2011-08-26 17:32] firebird-automations commented on #75
<details><summary>Modified by: @alexeykovyazin</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-08-26 18:15] firebird-automations commented on #75
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Sergey Mereutsa \[ green\_dq \] =\> Olga Popcova \[ olea\.popcova \]
</details>

[2011-08-29 16:42] firebird-automations commented on #75
Commented by: Olga Popcova (olea.popcova)

Modifications for all pages are done\.

[2011-08-29 16:42] firebird-automations commented on #75
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-08-29 16:42] #75 closed, assigned to nobody

[2011-09-05 15:07] firebird-automations opened #76 "Firebird CS 2.1.4 HPUX [WEB81]"
Submitted by: @paulbeach

Assigned to: Olga Popcova (olea.popcova)

Update the main Firebird Web site to reflect that Firebird CS 2\.1\.4 HPUX 11 \(PA\-Risc\) has been released\. aka
<http://www.ibphoenix.com/download/firebird/21>
Scroll to the bottom of the page\.

[2011-09-05 15:36] firebird-automations commented on #76
<details><summary>Modified by: @pcisar</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Sergey Mereutsa \[ green\_dq \]
</details>

[2011-09-05 16:13] firebird-automations commented on #76
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

status: Open \[ 1 \] =\> In Progress \[ 3 \]
</details>

[2011-09-05 16:13] firebird-automations commented on #76
<details><summary>Modified by: Sergey Mereutsa (green_dq)</summary>

assignee: Sergey Mereutsa \[ green\_dq \] =\> Olga Popcova \[ olea\.popcova \]
</details>

[2011-09-05 23:15] firebird-automations commented on #76
Commented by: @alexeykovyazin

done\.

[2011-09-05 23:15] firebird-automations commented on #76
<details><summary>Modified by: @alexeykovyazin</summary>

status: In Progress \[ 3 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-09-05 23:15] #76 closed, assigned to nobody

[2011-09-08 11:51] firebird-automations commented on #72
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-09-08 11:51] #72 closed, assigned to nobody

[2011-09-08 11:55] firebird-automations opened #77 "Add links to MacOS FB 2.5.1 RC1 downloads [WEB82]"
Submitted by: @pcisar

Assigned to: Olga Popcova (olea.popcova)

<http://web.firebirdsql.org/download/prerelease/macos/FirebirdCS-2.5.1-26349-RC1-lipo-x86_64.pkg.zip>
<http://web.firebirdsql.org/download/prerelease/macos/FirebirdCS-2.5.1-26349-RC1-x86_64.pkg.zip>
<http://web.firebirdsql.org/download/prerelease/macos/FirebirdSS-2.5.1-26349-RC1-lipo-x86_64.pkg.zip>
<http://web.firebirdsql.org/downlo

[2011-09-08 11:55] firebird-automations commented on #77
<details><summary>Modified by: @pcisar</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]
</details>

[2011-09-09 11:46] firebird-automations commented on #77
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-09-09 11:46] #77 closed, assigned to nobody

[2011-09-09 12:31] firebird-automations opened #78 "Update download links for FB 2.5.0 64-bit MacOS packages [WEB83]"
Submitted by: @pcisar

Assigned to: Olga Popcova (olea.popcova)

Replace old links to 2\.5\.0 64\-bit MacOS packages with new ones:

<http://sourceforge.net/projects/firebird/files/firebird-MacOS-X_darwin/2.5-Release/FirebirdSS-2.5.0-26075-x86_64.pkg.zip/download>
<http://sourceforge.net/projects/firebird/files/firebird-MacOS-X_darwin/2.5-Release/FirebirdSS-2.5.0-26075-lipo-x86_64.pkg.zip/download

[2011-09-09 12:32] firebird-automations commented on #78
<details><summary>Modified by: @pcisar</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]
</details>

[2011-09-09 12:37] firebird-automations commented on #78
Commented by: @alexeykovyazin

In further requests, please specify the URL where changes should be done\.

[2011-09-15 12:46] firebird-automations opened #79 "New i386 MacOs builds for 2.5.1 RC1 [WEB84]"
Submitted by: @pcisar

Assigned to: Olga Popcova (olea.popcova)

Please add next downloads:

<http://web.firebirdsql.org/download/prerelease/macos/FirebirdCS-2.5.1-26349-RC1-i386.pkg.zip>
<http://web.firebirdsql.org/download/prerelease/macos/FirebirdSS-2.5.1-26349-RC1-i386.pkg.zip>

at:

<http://www.firebirdsql.org/en/firebird-2-5-1-rc1/>

[2011-09-15 12:46] firebird-automations commented on #79
<details><summary>Modified by: @pcisar</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]
</details>

[2011-09-15 19:38] firebird-automations commented on #79
Commented by: Olga Popcova (olea.popcova)

done

[2011-09-15 19:38] firebird-automations commented on #79
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-09-15 19:38] #79 closed, assigned to nobody

[2011-09-15 20:21] firebird-automations commented on #78
Commented by: Olga Popcova (olea.popcova)

additional corrections in size column made\.

[2011-09-15 20:21] firebird-automations commented on #78
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-09-15 20:21] #78 closed, assigned to nobody

[2011-09-22 16:56] firebird-automations opened #80 "Firebird-libgcc-Solaris10-amd64.pkg.gz contains 32bit binaries [WEB85]"
Submitted by: Mariusz Zynel (mariusz)

The package Firebird\-libgcc\-Solaris10\-amd64\.pkg\.gz available for download at <http://www.firebirdsql.org/en/firebird-2-1-4/> contains 32bit libraries only:

libgcc\_s\.so\.1:  ELF 32\-bit LSB dynamic lib 80386 Version 1, dynamically linked, not stripped
libstdc\+\+\.so\.6\.0\.9:     ELF 32\-bit LSB dynamic lib 80386 Version 1, dynamically linked, not str

[2011-09-26 10:09] firebird-automations commented on #79
<details><summary>Modified by: @alexeykovyazin</summary>

status: Resolved \[ 5 \] =\> Closed \[ 6 \]
</details>

[2011-09-26 10:55] firebird-automations commented on #80
<details><summary>Modified by: @alexeykovyazin</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Paul Beach \[ pbeach \]
</details>

[2011-09-26 14:59] firebird-automations commented on #80
<details><summary>Modified by: @paulbeach</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-09-26 14:59] #80 closed, assigned to paulbeach

[2011-09-30 15:21] firebird-automations opened #81 "Remove old and beta builds of ODBC driver [WEB86]"
Submitted by: Jorge Andres Brugger (jbrugger)

Assigned to: @alexeykovyazin

There is no sense in maintaining downloads for:
\- Version 2\.0 Release
\- Version 2\.0 Release Candidate 2 \(RC2\)
\- Version 2\.0 Release Candidate 1 \(RC1\)
\- Version 2\.0 Beta
\- Version 1\.x Beta, Most Recent
\- Version 1\.2

Just 2\.0 release \(and maybe docs/samples\) should be fine \.\.\.

[2011-10-18 15:59] firebird-automations opened #82 "Roadmap 2.5.2 - Track Details icon shows bug fixes for V2.5.1 - the link to 2.5.2 underneath correctly shows the relevant bug fixes. [WEB87]"
Submitted by: @paulbeach

Roadmap
<http://www.firebirdsql.org/en/roadmap/>
The 2\.5\.2 Track Details icon shows bug fixes for V2\.5\.1
<http://tracker.firebirdsql.org/secure/ReleaseNote.jspa?version=10333&styleName=Html&projectId=10000>
the link to 2\.5\.2 underneath correctly shows the relevant bug fixes for 2\.5\.2\.
<http://tracker.firebirdsql.org/secure/ReleaseNote.jspa?version=10450&styleName

[2011-10-18 16:06] firebird-automations commented on #82
<details><summary>Modified by: @dyemanov</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Dmitry Yemanov \[ dimitr \]
</details>

[2011-10-18 16:06] firebird-automations commented on #82
<details><summary>Modified by: @dyemanov</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2011-10-18 16:06] #82 closed, assigned to dyemanov

[2011-10-18 16:06] firebird-automations commented on #82
Commented by: @dyemanov

Corrected, thanks\.

[2011-10-21 18:48] firebird-automations opened #83 "FB download page: describe obtaining MS VC runtime before installing FB [WEB88]"
Submitted by: Arioch (arioch)

Assigned to: @alexeykovyazin

FB download pages can tell few words about Microsoft Visual C\+\+ runtime libraries, required for corresponding FB version:
 \* which files are required
 \* which VC\+\+ versions they correspond to
 \* how their lack manifests on installation/running of FB
 \* were to download them from, if missed

For the story see [CORE3641](https://gi

[2011-12-05 18:06] firebird-automations commented on #24
Commented by: @pmakowski

we now have also archive on mail\-archive :
<http://www.mail-archive.com/firebird-devel@lists.sourceforge.net>
<http://www.mail-archive.com/firebird-docs@lists.sourceforge.net>
<http://www.mail-archive.com/firebird-net-provider@> <http://lists.sourceforge.net>
<http://www.mail-archive.com/firebird-odbc-devel@> <http://lists.sourceforge.net>
<http://www.mail-archive.com/fi

[2011-12-06 18:29] firebird-automations commented on #24
<details><summary>Modified by: @alexeykovyazin</summary>

assignee: Pavel Cisar \[ pcisar \] =\> Olga Popcova \[ olea\.popcova \]
</details>

[2011-12-08 22:26] firebird-automations commented on #24
Commented by: Olga Popcova (olea.popcova)

Done\.

[2011-12-08 22:26] firebird-automations commented on #24
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2011-12-08 22:26] #24 closed, assigned to nobody

[2012-04-07 21:45] firebird-automations opened #85 "Release of Jaybird 2.2.0-beta-1 : update JDBC driver section and add news item [WEB90]"
Submitted by: @mrotteveel

Assigned to: Olga Popcova (olea.popcova)

Attachments:
[Jaybird-2.2.0-beta-1 release info.txt](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-90/12127_Jaybird-2.2.0-beta-1%20release%20info.txt)
[Jaybird-2.2.0-beta-1 release newsitem.txt](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-90/12128_Jaybird-2.2.0-beta-1%20release%20newsitem.t

[2012-04-07 21:46] firebird-automations commented on #85
Commented by: @mrotteveel

Jaybird\-2\.2\.0\-beta\-1 release info\.txt : download links \+ release info
Jaybird\-2\.2\.0\-beta\-1 release newsitem\.txt : news item

If you need it in a different format, let me know

[2012-04-07 21:46] firebird-automations commented on #85
<details><summary>Modified by: @mrotteveel</summary>

Attachment: Jaybird\-2\.2\.0\-beta\-1 release info\.txt \[ 12127 \]

Attachment: Jaybird\-2\.2\.0\-beta\-1 release newsitem\.txt \[ 12128 \]
</details>

[2012-04-08 21:36] firebird-automations commented on #85
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]
</details>

[2012-04-08 21:43] firebird-automations commented on #85
Commented by: Olga Popcova (olea.popcova)

Done\.
Please, check if News text needs any additional formatting\. For instance, we can make
=====
<groupId\>org\.firebirdsql\.jdbc</groupId\>
<artifactId\>jaybird\-jdkXX</artifactId\>
<version\>2\.2\.0\-beta\-1</version\>
=====
part in Courier New font, if it is needed\.

[2012-04-09 10:13] firebird-automations commented on #85
Commented by: @mrotteveel

Hi Olga, changing the formatting of that section to Courier New is a good idea\. Could you change it? Thanks\!

[2012-04-10 07:55] firebird-automations commented on #85
Commented by: Olga Popcova (olea.popcova)

Done\.

[2012-04-10 07:55] firebird-automations commented on #85
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2012-04-10 07:55] #85 closed, assigned to nobody

[2012-04-12 08:58] firebird-automations opened #86 "Afterinstall page for 2.0.7, 2.1.5 and 2.5.2 [WEB91]"
Submitted by: @pcisar

Assigned to: @alexeykovyazin

Windows installer usually opens URL <http://www.firebirdsql.org/afterinstall/> that's redirected to <http://www.firebirdsql.org/en/afterinstall/>
For 2\.0\.7, 2\.1\.5 and 2\.5\.2 installer uses URLs: <http://www.firebirdsql.org/afterinstall/207>, <http://www.firebirdsql.org/afterinstall/215> and <http://www.firebirdsql.org/afterinstall/252>, how

[2012-04-13 12:31] firebird-automations commented on #86
Commented by: @alexeykovyazin

Fixed 12\-04\-12

[2012-04-13 12:31] firebird-automations commented on #86
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2012-04-13 12:31] #86 closed, assigned to nobody

[2012-07-05 10:29] firebird-automations opened #87 "Add part 2 and 3 of my German Firebird 3 preview article series in the Third-Party Docs and Articles section [WEB92]"
Submitted by: Thomas Steinmaurer (tsteinmaurer)

Assigned to: Olga Popcova (olea.popcova)

They URLs to the articles are:

<http://www.iblogmanager.com/download/misc/articles/2011_05_Firebird_3_Vorschau_Teil_2.pdf>
<http://www.iblogmanager.com/download/misc/articles/2011_06_Firebird_3_Vorschau_Teil_3.pdf>

Perhaps you can use/change the text to:

Firebird 3 Vorschau \- Teil 1
Firebird 3 Vorschau \

[2012-07-05 10:38] firebird-automations opened #38 "Make non-core developer reports visible [WEB93]"
Submitted by: @helebor

Assigned to: Olga Popcova (olea.popcova)

Foundation grantees provide periodic reports of their activities\.  Those of the four core developers are linked from the main development page\.  Those of ODBC and \.net provider are not visible but they should be\.

[2012-07-10 19:02] firebird-automations commented on #38
Commented by: Olga Popcova (olea.popcova)

Sorry, wrong comment, it was for [WEB92](https://github.com/FirebirdSQL/web/issues?q=WEB92+in%3Atitle)\.

ODBC and \.net provider reports are on the corresponding status pages:
<http://www.firebirdsql.org/en/odbc-devel-status/>
<http://www.firebirdsql.org/en/net-provider-devel-status/>

[2012-07-10 19:02] firebird-automations commented on #38
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2012-07-10 19:02] #38 closed, assigned to nobody

[2012-07-10 19:16] firebird-automations commented on #87
Commented by: Olga Popcova (olea.popcova)

Done\.

[2012-07-10 19:16] firebird-automations commented on #87
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2012-07-10 19:16] #87 closed, assigned to nobody

[2012-07-11 10:10] firebird-automations commented on #38
Commented by: @helebor

Thanks Olga\. :\-\)

[2012-07-14 16:43] firebird-automations opened #88 "Release of Jaybird 2.2.0 : news item + update of JDBC section [WEB94]"
Submitted by: @mrotteveel

Assigned to: Olga Popcova (olea.popcova)

Attachments:
[Jaybird_2.2.0-newsitem.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-94/12174_Jaybird_2.2.0-newsitem.doc)
[Jaybird_2.2.0-download.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-94/12175_Jaybird_2.2.0-download.doc)
[Jaybird_2_2_0_release_notes.pdf](https://github.com/Fir

[2012-07-14 16:43] firebird-automations commented on #88
<details><summary>Modified by: @mrotteveel</summary>

Attachment: Jaybird\_2\.2\.0\-newsitem\.doc \[ 12174 \]

Attachment: Jaybird\_2\.2\.0\-download\.doc \[ 12175 \]

Attachment: Jaybird\_2\_2\_0\_release\_notes\.pdf \[ 12176 \]
</details>

[2012-07-14 19:36] firebird-automations commented on #88
Commented by: Olga Popcova (olea.popcova)

Done\.

[2012-07-14 19:36] firebird-automations commented on #88
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2012-07-14 19:36] #88 closed, assigned to nobody

[2012-07-14 22:56] firebird-automations opened #89 "Include Maven information on JDBC download page [WEB95]"
Submitted by: @mrotteveel

Assigned to: Olga Popcova (olea.popcova)

I just realised that it would be a good idea to also include the maven information on the download page \(<http://www.firebirdsql.org/en/jdbc-driver/> \)\. Could you include the maven details from the news item on the download page as well\. A good place would be just below "All released versions at <http://sourceforge.net>\."\.

[2012-07-14 22:58] firebird-automations commented on #89
<details><summary>Modified by: @mrotteveel</summary>

description: I just realised that it would be a good idea to also include the maven information on the download page\. Could you include the maven details from the news item on the download page as well\. A good place would be just below "All released versions at <http://sourceforge.net>\."\. My apologies that I didn't think of this before\.

I

[2012-07-15 21:38] firebird-automations commented on #89
Commented by: Olga Popcova (olea.popcova)

Maven info is included\.

[2012-07-15 21:38] firebird-automations commented on #89
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2012-07-15 21:38] #89 closed, assigned to nobody

[2012-08-06 09:35] firebird-automations opened #90 "Update location of Jaybird sources [WEB96]"
Submitted by: @mrotteveel

Assigned to: Olga Popcova (olea.popcova)

Yesterday I migrated Jaybird from CVS to Subversion\. As the location of the sources has changed, can you update the following page:
<http://www.firebirdsql.org/en/jdbc-devel-references/>

Replace the bullet item:
"Client\-Java module in the CVS repository"

With:
"Browse the client\-java sources in the Subversion repository" \>

[2012-08-06 22:15] firebird-automations commented on #90
Commented by: Olga Popcova (olea.popcova)

Done\.

[2012-08-06 22:15] firebird-automations commented on #90
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2012-08-06 22:15] #90 closed, assigned to nobody

[2012-08-21 00:14] firebird-automations opened #40 "Incorrect Twitter Marks frontpage [WEB97]"
Submitted by: @mariuz

Assigned to: @alexeykovyazin

Attachments:
[Screen Shot 2012-08-20 at 1.39.52 PM.png](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-97/12200_Screen%20Shot%202012-08-20%20at%201.39.52%20PM.png)

Hello Team at Fire Bird SQL\!

I am hoping to speak to someone about updating the Twitter marks across Fire Bird SQL's web, print, and email platform\.  The current

[2012-08-21 00:15] firebird-automations commented on #40
Commented by: @mariuz

Old twitter logo as rendered on firebird site

[2012-08-21 00:15] firebird-automations commented on #40
<details><summary>Modified by: @mariuz</summary>

Attachment: Screen Shot 2012\-08\-20 at 1\.39\.52 PM\.png \[ 12200 \]
</details>

[2012-08-21 11:09] firebird-automations commented on #61
Commented by: @mariuz

This can be closed , on the new site there is no reference to  "FB/Java" plug\-in
you can write plugins in firebird 3\.0 branch

[2012-08-21 18:02] firebird-automations opened #91 "sf logo is missing from the new site footer [WEB98]"
Submitted by: @mariuz

Assigned to: @alexeykovyazin

firebird is still a sourceforge project

Also it is nice to show to people that firebird project does have many visits

<http://sourceforge.net/projects/firebird/stats/traffic?dates=2001-01-01+to+2012-04-12>

See the old site on the footer td

<http://web.firebirdsql.org/>

<td align="left"\><a
href="<http://sourceforge.net/projects/firebird>"\>

[2012-08-21 18:44] firebird-automations commented on #61
Commented by: Sean Leyne (seanleyne)

Edit for readbility

[2012-08-21 18:44] firebird-automations commented on #61
<details><summary>Modified by: Sean Leyne (seanleyne)</summary>

description:

 "FB/Java" plug\-in preliminary test version

<http://www.firebirdsql.org/index.php?op=devel&sub=plugins&id=external_java>    =  oke

so on next page
Download the Fb/Java Plug\-in and server for 32\-bit Windows\.

<http://www.firebirdsql.org/downloads/rabbits/asfernandes/fbjava/fbjava-m1.zip>      = fails

Hope this is

[2012-09-17 21:23] firebird-automations opened #92 "News item on Jaybird survey [WEB99]"
Submitted by: @mrotteveel

Assigned to: @alexeykovyazin

Votes: 1

Could you create a news item on the frontpage regarding the Jaybird survey?

Title: Jaybird Survey

Text:
The Jaybird team would like to invite developers and users of Jaybird to fill out a survey on your use of Jaybird \(Firebird JDBC driver\)\. You can find the survey at <http://infopoll.net/live/surveys/s36021.htm>\.

The result

[2012-09-30 15:11] firebird-automations opened #93 "Release of Jaybird 2.2.1 : news item + update of JDBC section [WEB100]"
Submitted by: @mrotteveel

Assigned to: Olga Popcova (olea.popcova)

Attachments:
[Jaybird_2.2.1-download.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-100/12232_Jaybird_2.2.1-download.doc)
[Jaybird_2.2.1-newsitem.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-100/12233_Jaybird_2.2.1-newsitem.doc)
[Jaybird_2_2_1_release_notes.pdf](https://github.com/F

[2012-09-30 15:11] firebird-automations commented on #93
<details><summary>Modified by: @mrotteveel</summary>

Attachment: Jaybird\_2\.2\.1\-download\.doc \[ 12232 \]

Attachment: Jaybird\_2\.2\.1\-newsitem\.doc \[ 12233 \]

Attachment: Jaybird\_2\_2\_1\_release\_notes\.pdf \[ 12234 \]
</details>

[2012-09-30 19:41] firebird-automations commented on #93
Commented by: Olga Popcova (olea.popcova)

Done\.

[2012-09-30 19:41] firebird-automations commented on #93
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2012-09-30 19:41] #93 closed, assigned to nobody

[2012-10-07 21:03] firebird-automations opened #94 "Foundation members [WEB101]"
Submitted by: @pmakowski

Assigned to: @alexeykovyazin

First

<http://www.firebirdsql.org/en/members/>  is empty
this link is on this page <http://www.firebirdsql.org/en/member-to-member-offers/>
Your subscription payments must be up\-to\-date \(check here\);

Second

in the Foundation sub menu on the left \(fro example from <http://www.firebirdsql.org/en/firebird-foundation/>\)

the Members item

[2012-10-08 22:35] firebird-automations commented on #92
Commented by: @mariuz

This survey has been closed\. Thank you\!

[2012-10-09 14:26] firebird-automations commented on #92
<details><summary>Modified by: @alexeykovyazin</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2012-10-09 14:26] #92 closed, assigned to nobody

[2012-10-09 14:28] firebird-automations commented on #49
Commented by: @mariuz

also the history link for firebird must be fixed but i guess we can fix first the page also create a new one with proper history completed from firebird 1\.0 \-\> firebird 3\.x

[2012-10-09 15:23] firebird-automations commented on #49
Commented by: @alexeykovyazin

Go ahead and write it\.
There is no problem to put text or format it\.

[2012-10-12 16:56] firebird-automations commented on #92
Commented by: @mariuz

Here are the survey results please post them to firebird news area

<http://www.firebirdnews.org/?p=7701>

[2012-10-23 11:12] firebird-automations opened #95 "My name is spelled incorrectly on the conference pages [WEB102]"
Submitted by: @mrotteveel

Assigned to: @alexeykovyazin

On several areas of the website on the conference, my name is spelled as 'Rottevel', but it should be 'Rotteveel':
<http://firebirdsql.org/en/firebird-conference-2012/>
<http://www.firebirdsql.org/en/firebird-conference-2012-main-topics/>

[2012-11-12 19:48] firebird-automations opened #96 "Information about Ubuntu/Debian build [WEB103]"
Submitted by: Jorge Andres Brugger (jbrugger)

Assigned to: @alexeykovyazin

Firebird website should have a section explaining about the availability of Ubuntu/Debian packages\.

Please check discussion at firebird\-devel started 12\-nov about "Ubuntu builds"\.

[2012-12-14 17:20] firebird-automations opened #97 "Link to 2.5.2 releasenotes missing from Release notes section [WEB104]"
Submitted by: @mrotteveel

Assigned to: Olga Popcova (olea.popcova)

The release notes section \(<http://www.firebirdsql.org/en/release-notes/> \) is missing a link to the 2\.5\.2 releasenotes\. Tthe documents do exist as they are linked at the download page <http://www.firebirdsql.org/en/firebird-2-5-2/>

Links:
HTML: <http://www.firebirdsql.org/file/documentation/release_notes/html/rlsnotes252.h

[2012-12-14 17:31] firebird-automations commented on #97
<details><summary>Modified by: @dyemanov</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Dmitry Yemanov \[ dimitr \]
</details>

[2012-12-15 15:37] firebird-automations commented on #97
Commented by: Olga Popcova (olea.popcova)

Done\.

[2012-12-15 15:37] firebird-automations commented on #97
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Dmitry Yemanov \[ dimitr \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2012-12-15 15:37] #97 closed, assigned to nobody

[2013-01-10 20:10] firebird-automations opened #98 "Link wrong to v2.1.6 in roadmap (magnifying glass) [WEB106]"
Submitted by: Anderson Freitas Alves (builder_rs)

Link to v2\.1\.6 \(magnifying glass\) in <http://www.firebirdsql.org/en/roadmap/> show 2\.1\.5

[2013-01-11 05:15] firebird-automations commented on #98
<details><summary>Modified by: @dyemanov</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Dmitry Yemanov \[ dimitr \]
</details>

[2013-01-11 05:15] firebird-automations commented on #98
<details><summary>Modified by: @dyemanov</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2013-01-11 05:15] #98 closed, assigned to dyemanov

[2013-01-18 05:37] firebird-automations opened #99 "No changes can be seen in "Stay in touch" since 15-dec-2012 [WEB107]"
Submitted by: @pavel-zotov

Text in files:

<https://firebird.svn.sourceforge.net/svnroot/firebird/firebird/trunk/ChangeLog>
<https://firebird.svn.sourceforge.net/svnroot/firebird/firebird/branches/B2_5_Release/ChangeLog>

\- hasn\`t been changed more than one month\.

[2013-01-18 06:32] firebird-automations commented on #99
<details><summary>Modified by: @dyemanov</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Dmitry Yemanov \[ dimitr \]
</details>

[2013-01-18 06:45] firebird-automations commented on #99
<details><summary>Modified by: @dyemanov</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2013-01-18 06:45] #99 closed, assigned to dyemanov

[2013-02-03 22:54] firebird-automations opened #100 "Release of Jaybird 2.2.2 : news item + update of JDBC section [WEB108]"
Submitted by: @mrotteveel

Assigned to: Olga Popcova (olea.popcova)

Attachments:
[Jaybird_2_2_2_release_notes.pdf](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-108/12280_Jaybird_2_2_2_release_notes.pdf)
[Jaybird_2.2.2-download.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-108/12281_Jaybird_2.2.2-download.doc)
[Jaybird_2.2.2-newsitem.doc](https://github.

[2013-02-03 22:56] firebird-automations commented on #100
<details><summary>Modified by: @mrotteveel</summary>

Attachment: Jaybird\_2\_2\_2\_release\_notes\.pdf \[ 12280 \]

Attachment: Jaybird\_2\.2\.2\-download\.doc \[ 12281 \]

Attachment: Jaybird\_2\.2\.2\-newsitem\.doc \[ 12282 \]
</details>

[2013-02-03 23:54] firebird-automations commented on #100
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]
</details>

[2013-02-03 23:55] firebird-automations commented on #100
Commented by: Olga Popcova (olea.popcova)

Done\.

[2013-02-03 23:55] firebird-automations commented on #100
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2013-02-03 23:55] #100 closed, assigned to nobody

[2013-03-07 22:03] firebird-automations commented on #94
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2013-03-07 22:03] #94 closed, assigned to nobody

[2013-03-07 22:06] firebird-automations commented on #95
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2013-03-07 22:06] #95 closed, assigned to nobody

[2013-04-10 11:08] firebird-automations opened #101 "FAQ suggest query doesn't work (with particular version of firebird) [WEB109]"
Submitted by: falko (falko)

Assigned to: @alexeykovyazin

The suggested  solution for delete duplicate record
<http://www.firebirdfaq.org/faq301/>
Doesn't work with WI\-V6\.3\.5\.13206 Firebird 2\.0, but work already with WI\-V6\.3\.6\.13266 Firebird 2\.0\.

[2013-04-10 15:29] firebird-automations commented on #101
Commented by: @mariuz

Then it works ok with updated version , i  guess it can be closed

[2013-04-10 15:31] firebird-automations commented on #101
Commented by: @mariuz

<http://firebirdfaq.org> is not owned by firebird web team , one more reason to delete the issue

[2013-04-13 16:46] firebird-automations commented on #101
Commented by: @dyemanov

It works for me even with WI\-V6\.3\.5\.13206 Firebird 2\.0, so I'm closing the ticket\.

[2013-04-13 16:46] firebird-automations commented on #101
<details><summary>Modified by: @dyemanov</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Won't Fix \[ 2 \]
</details>

[2013-04-13 16:46] #101 closed, assigned to nobody

[2013-05-11 20:56] firebird-automations opened #102 "Release of Jaybird 2.2.3 : news item + update of JDBC section [WEB110]"
Submitted by: @mrotteveel

Assigned to: Olga Popcova (olea.popcova)

Attachments:
[Jaybird_2.2.3-download.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-110/12311_Jaybird_2.2.3-download.doc)
[Jaybird_2.2.3-newsitem.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-110/12312_Jaybird_2.2.3-newsitem.doc)

I have released Jaybird 2\.2\.3\. Could you add a new

[2013-05-11 20:56] firebird-automations commented on #102
<details><summary>Modified by: @mrotteveel</summary>

Attachment: Jaybird\_2\.2\.3\-download\.doc \[ 12311 \]

Attachment: Jaybird\_2\.2\.3\-newsitem\.doc \[ 12312 \]
</details>

[2013-05-11 23:24] firebird-automations commented on #102
Commented by: Olga Popcova (olea.popcova)

Done\.

[2013-05-11 23:24] firebird-automations commented on #102
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2013-05-11 23:24] #102 closed, assigned to nobody

[2013-05-11 23:34] firebird-automations commented on #102
Commented by: @mrotteveel

Olga, thanks for doing this on a Saturday evening :\)\.

Just one minor issue: The releasenotes link on <http://www.firebirdsql.org/en/jdbc-driver/> is pointing to the Jaybird 2\.2\.2 releasenotes, it should point to <http://www.firebirdsql.org/file/documentation/drivers_documentation/java/2.2.3/release_notes.html>

[2013-05-13 13:43] firebird-automations opened #46 "Jaybird 2.2.3 releasenotes pointing to wrong URL [WEB111]"
Submitted by: @mrotteveel

Under [WEB110](https://github.com/FirebirdSQL/web/issues?q=WEB110+in%3Atitle) the changes were made for the Jaybird 2\.2\.3 release, but the the releasenotes link on <http://www.firebirdsql.org/en/jdbc-driver/> is pointing to the Jaybird 2\.2\.2 releasenotes, it should point to <http://www.firebirdsql.org/file/documentation/drivers_documentation/java/2.2.3/release_notes.

[2013-05-13 13:52] firebird-automations commented on #102
Commented by: @dyemanov

Mark, I've just fixed the link\.

[2013-05-13 13:54] firebird-automations commented on #46
<details><summary>Modified by: @dyemanov</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Dmitry Yemanov \[ dimitr \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2013-05-13 13:54] #46 closed, assigned to dyemanov

[2013-05-20 17:58] firebird-automations opened #103 "Include information about 10th FDD [WEB112]"
Submitted by: @WarmBooter

Assigned to: Olga Popcova (olea.popcova)

Please include information about the 10th edition of the Firebird Developers Day conference\. Ie: <http://www.firebirdnews.org/?p=8552>

Thanks for adding the information, but please update the "site" link currently used to:

<http://www.firebirddevelopersday.com.br/fdd/2013/index.html?utm_source=FirebirdSQL&utm_medium=web&utm_ca

[2013-05-20 20:28] firebird-automations commented on #103
Commented by: Olga Popcova (olea.popcova)

Done\.

[2013-05-20 20:28] firebird-automations commented on #103
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2013-05-20 20:28] #103 closed, assigned to nobody

[2013-05-20 23:43] firebird-automations commented on #103
<details><summary>Modified by: @WarmBooter</summary>

description: Please include information about the 10th edition of the Firebird Developers Day conference\. Ie: <http://www.firebirdnews.org/?p=8552>  =\> Please include information about the 10th edition of the Firebird Developers Day conference\. Ie: <http://www.firebirdnews.org/?p=8552>

Thanks for adding the information, but please update th

[2013-05-21 00:03] firebird-automations commented on #103
Commented by: Olga Popcova (olea.popcova)

Changed\.

[2013-07-31 18:35] firebird-automations opened #104 "can`t navigate to the page "Developer's Report: Firebird Core Development" from site home page [WEB113]"
Submitted by: @pavel-zotov

Assigned to: @alexeykovyazin

The page <http://www.firebirdsql.org/en/report-core-development-201302/>  contains in its left uper corner the following issue:
\-\-\-
You are here: Home \> Developer's Report: Firebird Core Development
\-\-\-

But if we go to home page \( <http://www.firebirdsql.org/en/start/> \) there is NO visible links with words "Developer" or "Report"

[2013-07-31 18:40] firebird-automations commented on #104
Commented by: @pavel-zotov

UPD\. I've load the page  <http://www.firebirdsql.org/en/report-core-development-201302/>  from here:  <http://www.firebirdsql.org/en/core-developers-reports/>

[2013-07-31 19:09] firebird-automations commented on #104
Commented by: @dyemanov

I believe it's just a structure error, these pages don't belong to "Home" as they're part of the "Development" section\. Their path should be "Home / Development	/ Firebird Server / Development" instead\.

[2013-08-23 13:10] firebird-automations opened #105 "Development / Building the code / POSIX: "/doc/README.build.posix.html" follows to 'root' page of code storage rather than document [WEB114]"
Submitted by: @pavel-zotov

This link now follows not to valid document but to some 'root' page of code storage\.
Please restore previous link: it should display the same text as we can see in local doc/README\.build\.posix\.html

TIA\.

[2013-08-23 18:44] firebird-automations commented on #105
<details><summary>Modified by: @dyemanov</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Dmitry Yemanov \[ dimitr \]
</details>

[2013-08-24 10:26] firebird-automations commented on #105
<details><summary>Modified by: @dyemanov</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2013-08-24 10:26] #105 closed, assigned to dyemanov

[2013-12-07 15:47] firebird-automations opened #106 "Release of Jaybird 2.2.4 : news item + update of JDBC section [WEB116]"
Submitted by: @mrotteveel

Assigned to: Olga Popcova (olea.popcova)

Attachments:
[Jaybird_2.2.4-newsitem.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-116/12393_Jaybird_2.2.4-newsitem.doc)
[Jaybird_2.2.4-download.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-116/12394_Jaybird_2.2.4-download.doc)

I have released Jaybird 2\.2\.4\. Could you add a new

[2013-12-07 15:48] firebird-automations commented on #106
<details><summary>Modified by: @mrotteveel</summary>

Attachment: Jaybird\_2\.2\.4\-newsitem\.doc \[ 12393 \]

Attachment: Jaybird\_2\.2\.4\-download\.doc \[ 12394 \]
</details>

[2013-12-07 17:27] firebird-automations opened #107 "Replace Jaybird faq [WEB117]"
Submitted by: @mrotteveel

Assigned to: Olga Popcova (olea.popcova)

On <http://www.firebirdsql.org/en/drivers-documentation/>
\* Replace the link of the Jaybird faq with a link to <http://www.firebirdsql.org/file/documentation/drivers_documentation/java/faq.html>
\* Change "JayBird FAQ" to "Jaybird FAQ" \(lowercase b\)\.

Replace the existing page <http://www.firebirdsql.org/en/jaybird-faq/> with

[2013-12-07 17:29] firebird-automations commented on #107
<details><summary>Modified by: @mrotteveel</summary>

description: On <http://www.firebirdsql.org/en/drivers-documentation/>
\* Replace the link of the Jaybird faq with a link to <http://www.firebirdsql.org/file/documentation/drivers_documentation/java/faq.html>
\* Change "JayBird FAQ" to "Jaybird FAQ" \(lowercase b\)\.

Replace the existing page <http://www.firebirdsql.org/en/jaybird-faq/> with a

[2013-12-08 21:28] firebird-automations commented on #106
Commented by: Olga Popcova (olea.popcova)

Done\.

[2013-12-08 21:28] firebird-automations commented on #106
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2013-12-08 21:28] #106 closed, assigned to nobody

[2013-12-09 20:14] firebird-automations commented on #107
Commented by: Olga Popcova (olea.popcova)

Done, the redirect is made as well\.

[2013-12-09 20:14] firebird-automations commented on #107
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2013-12-09 20:14] #107 closed, assigned to nobody

[2014-04-27 15:52] firebird-automations opened #108 "Release of Jaybird 2.2.5 : news item + update of JDBC section [WEB118]"
Submitted by: @mrotteveel

Assigned to: Olga Popcova (olea.popcova)

Attachments:
[Jaybird_2.2.5-download.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-118/12501_Jaybird_2.2.5-download.doc)
[Jaybird_2.2.5-newsitem.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-118/12502_Jaybird_2.2.5-newsitem.doc)

I have released Jaybird 2\.2\.5\. Could you add a new

[2014-04-27 15:52] firebird-automations commented on #108
<details><summary>Modified by: @mrotteveel</summary>

Attachment: Jaybird\_2\.2\.5\-download\.doc \[ 12501 \]

Attachment: Jaybird\_2\.2\.5\-newsitem\.doc \[ 12502 \]
</details>

[2014-04-27 22:41] firebird-automations commented on #108
Commented by: Olga Popcova (olea.popcova)

Done\.

[2014-04-27 22:41] firebird-automations commented on #108
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2014-04-27 22:41] #108 closed, assigned to nobody

[2014-05-26 05:02] firebird-automations opened #109 "The site provided options pdf earlier. [WEB119]"
Submitted by: Valchenko Igor (gallemar)

Firebird 2 Migration & Installation Notes v\. 2\.0\.x and 2\.1
<http://www.firebirdsql.org/file/documentation/release_notes/html/install210.html> \- version 215\_01
<http://www.firebirdsql.org/file/documentation/release_notes/Firebird-2.1.4-Installation.pdf>  version 214\_00

Setting up Firebird on Ubuntu Linux
<http://www.firebirdsql.org/file/documentation

[2014-05-27 21:15] firebird-automations commented on #109
Commented by: Olga Popcova (olea.popcova)

It's all about the "Reference Manuals" section:
<http://www.firebirdsql.org/en/reference-manuals/>

Regarding "Firebird 2 Migration & Installation Notes v\. 2\.0\.x and 2\.1" \-\- fixed \(apropos in the "Release Notes" section for the same issue both versions were correct\)\.

Regarding "Setting up Firebird on Ubuntu Linux" and "Firebird's nbackup tool" \

[2014-05-27 22:21] firebird-automations commented on #109
Commented by: @dyemanov

Helen, could you please generate up\-to\-date PDFs for the aforementioned documents\.

[2014-05-27 22:21] firebird-automations commented on #109
<details><summary>Modified by: @dyemanov</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Helen Borrie \[ helebor \]
</details>

[2014-05-27 22:43] firebird-automations commented on #109
Commented by: @helebor

I can look at those old release notes \(Firebird 2 Migration & Installation Notes v\. 2\.0\.x and 2\.1\) and see what's the story about the PDFs\.  Those have not changed for several years\.

About those other documents, "not my part of ship"\.  You need to hand them to Paul Vinkenoog for attention\.

[2014-05-28 05:16] firebird-automations commented on #109
Commented by: Valchenko Igor (gallemar)

Olga Popcova added a comment:
Regarding "Firebird's nbackup tool \(Russian\)" \-\- we cannot do anything until someone will update/renew the translation\.

I can provide your translation "Firebird's nbackup tool"?

[2014-06-05 12:29] firebird-automations opened #110 "linux snapshot builds locked on 2014-05-28 [WEB120]"
Submitted by: freeman35 (freeman35)

Assigned to: @alexeykovyazin

<http://web.firebirdsql.org/download/snapshot_builds/linux/>
not updating, like windows snapshots

[2014-06-05 12:40] firebird-automations opened #111 "why has not snapshot builds for MACOSX ? [WEB121]"
Submitted by: freeman35 (freeman35)

Assigned to: @alexeykovyazin

windows and linux has daily build but for MACOSX has not,
roadmap "been" just for announcement for new roadmap announcement\.  Latest Release 2\.5\.2  March 24, 2013 more then one tear, this mean so many bug fixed\. If you will not share thats, I wanna tell to you, you are lose confidence

[2014-09-06 18:36] firebird-automations opened #112 "Comments should be always visible [WEB122]"
Submitted by: @WarmBooter

Assigned to: @alexeykovyazin

I think the comments in the official site's pages should be visible by default \(not requiring a click to appear\)\. This would probably grow the interactivity and interest for the site\.

[2014-09-06 20:06] firebird-automations commented on #112
Commented by: @mrotteveel

I'd suggest the comment feature should be removed entirely\. I don't think they are really useful, and without a proper notification system it looks bad if there is no response to comments\.

[2014-09-07 01:24] firebird-automations commented on #112
Commented by: @WarmBooter

The actual comments are handled by facebook, so notification depends on your settings\.

[2014-09-07 12:36] firebird-automations commented on #112
Commented by: @mrotteveel

Which settings? As far as I can tell I can't "subscribe" to a page to be notified when comments are posted\.

[2014-09-08 15:59] firebird-automations commented on #112
Commented by: @WarmBooter

I don't remember :\( Facebook interface really sucks\. Months ago I was tired of receiving email notifications about such comments and I disabled a lot of things there, and can't remember what ones affected this behavior\.

[2014-10-22 17:27] firebird-automations opened #113 "Wrong currently tested release mentioned on website [WEB124]"
Submitted by: Robert (rj1102)

Page <http://www.firebirdsql.org/en/start/#stay-in-touch> mentions:

Releases being currently tested
Firebird 3\.0 Alpha 1 Release

Please change in Firebird 3\.0 Beta 1 Release\.

[2014-10-22 17:40] firebird-automations commented on #113
Commented by: @dyemanov

Updated, it mentions Alpha 2 now, to be changed to Beta 1 once it's released\.

[2014-10-22 17:41] firebird-automations commented on #113
<details><summary>Modified by: @dyemanov</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Dmitry Yemanov \[ dimitr \]
</details>

[2014-10-28 22:03] firebird-automations opened #114 "Please restore visibility of ticket CORE-4553 in the LIST of reported ones. [WEB125]"
Submitted by: @pavel-zotov

Assigned to: @alexeykovyazin

Can you please restore this ticket to be visible in the LIST of reported:

[CORE4553](https://github.com/FirebirdSQL/firebird/issues?q=CORE4553+in%3Atitle)

\- ?

\(currently I can look in it only via entering its URL in browser address field\)

TIA\.

[2014-11-13 18:52] firebird-automations opened #115 "Improve the page that is open after Window's FB installation [WEB126]"
Submitted by: @WarmBooter

Assigned to: @alexeykovyazin

Include note about joining FF in the web page that is opened in the end of a Windows install, and also include a form where use can register his email to start receiving the newsletter sent by <http://firebirdsql.org>

[2014-12-21 17:45] firebird-automations opened #116 "Two broken links for Python driver [WEB127]"
Submitted by: @pavel-zotov

1\. For this link: <http://tech.groups.yahoo.com/group/firebird-python/messages>
\- I get:
\-\-\-
Error
Description: Could not process this "GET" request\.
\-\-\-
\(navigate path on site: "Home 		Development 		Python Driver 		References"\)

2\. This link: <http://www.python-devel-status.com/> \- can not be opened at all
\(navigate path on site: "Home 		Development 		Qua

[2014-12-21 18:16] firebird-automations commented on #116
<details><summary>Modified by: @pavel-zotov</summary>

description: 1\. For this link: <http://tech.groups.yahoo.com/group/firebird-python/messages>
\- I get:
\-\-\-
Error
Description: Could not process this "GET" request\.
\-\-\-
\(navigate path on site: "Home 		Development 		Python Driver 		References"\)

2\. This link: <http://www.python-devel-status.com/> \- can not be opened at all
\(navigate

[2014-12-21 19:05] firebird-automations commented on #116
<details><summary>Modified by: @dyemanov</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Pavel Cisar \[ pcisar \]
</details>

[2014-12-30 13:58] firebird-automations opened #117 "Release of Jaybird 2.2.6 : news item + update of JDBC section [WEB128]"
Submitted by: @mrotteveel

Assigned to: @alexeykovyazin

Attachments:
[Jaybird_2.2.6-download.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-128/12656_Jaybird_2.2.6-download.doc)
[Jaybird_2.2.6-newsitem.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-128/12657_Jaybird_2.2.6-newsitem.doc)

I have released Jaybird 2\.2\.6\. Could you add a news item and u

[2014-12-30 13:58] firebird-automations commented on #117
<details><summary>Modified by: @mrotteveel</summary>

Attachment: Jaybird\_2\.2\.6\-download\.doc \[ 12656 \]

Attachment: Jaybird\_2\.2\.6\-newsitem\.doc \[ 12657 \]
</details>

[2015-01-18 07:54] firebird-automations commented on #113
<details><summary>Modified by: @dyemanov</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2015-01-18 07:54] #113 closed, assigned to dyemanov

[2015-01-18 07:54] firebird-automations commented on #113
<details><summary>Modified by: @dyemanov</summary>

status: Resolved \[ 5 \] =\> Closed \[ 6 \]
</details>

[2015-01-24 17:03] firebird-automations opened #118 "Latest Release on website refers to 2.5.3, not 2.5.3 Update 1 [WEB129]"
Submitted by: @mrotteveel

On Downloads \(<http://www.firebirdsql.org/en/downloads/>\), the "Latest Release" blurb links to <http://www.firebirdsql.org/en/firebird-2-5-release-description/> which describes 2\.5\.3, but not 2\.5\.3 Update 1\. The link on this release description page links to <http://www.firebirdsql.org/en/firebird-2-5-3/> whose download links are all broken as 2\.5\.3 was removed

[2015-01-24 21:24] firebird-automations commented on #118
Commented by: @dyemanov

1\) Fixed
2\) Only download link is fixed

[2015-01-24 21:24] firebird-automations commented on #118
<details><summary>Modified by: @dyemanov</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Dmitry Yemanov \[ dimitr \]
</details>

[2015-01-25 14:41] firebird-automations opened #119 "Release of Jaybird 2.2.7 : news item + update of JDBC section [WEB130]"
Submitted by: @mrotteveel

Assigned to: @alexeykovyazin

I have released Jaybird 2\.2\.7\. Could you add a news item and update the JDBC sections of the website to include this\.

\* News item: Jaybird\_2\.2\.7\-newsitem\.doc
\* New content and downloadlinks for <http://www.firebirdsql.org/en/jdbc-driver/> : Jaybird\_2\.2\.7\-download\.doc \(replace entire page\)
\* Addition to status page <http:/

[2015-01-25 14:44] firebird-automations commented on #119
Commented by: @mrotteveel

For some reason I cannot upload files right now\.
Jaybird\_2\.2\.7\-download\.doc: <https://www.dropbox.com/s/7a85m2zer8jou06/Jaybird_2.2.7-download.doc?dl=0>
Jaybird\_2\.2\.7\-newsitem\.doc: <https://www.dropbox.com/s/w1qiju84nbj7nmx/Jaybird_2.2.7-newsitem.doc?dl=0>

[2015-03-19 15:20] firebird-automations commented on #118
<details><summary>Modified by: @dyemanov</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2015-03-19 15:20] #118 closed, assigned to dyemanov

[2015-04-11 16:18] firebird-automations opened #120 "Firebird 2.1 landing page misses link to release notes [WEB132]"
Submitted by: @mrotteveel

The Firebird 2\.1 landing page \(<http://www.firebirdsql.org/en/firebird-2-1/>\) is missing a link to the Firebird 2\.1\.7 release notes\. The almost identical page for 2\.1\.7 \(<http://www.firebirdsql.org/en/firebird-2-1-7/>\) does include this link\. Content for both pages should be identical \(or at least the 2\.1 page should also link to the release notes\)\.

[2015-04-12 14:44] firebird-automations commented on #120
<details><summary>Modified by: @dyemanov</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Dmitry Yemanov \[ dimitr \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2015-04-12 14:44] #120 closed, assigned to dyemanov

[2015-04-18 10:50] firebird-automations opened #121 "Wrong time zone on tracker site [WEB133]"
Submitted by: @aafemt

Assigned to: @alexeykovyazin

Because of that SpamAssasin doesn't like messages from tracker with following reasons:

 pts rule name              description
\-\-\-\- \-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\- \-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-\-
 3\.4 RCVD\_ILLEGAL\_IP        Received: contains illegal IP add

[2015-04-19 00:16] firebird-automations commented on #121
Commented by: @mrotteveel

As an example:

Received: from <http://tracker.firebirdsql.org> \(unknown \[206\.223\.166\.250\]\)
	by <http://mail.ibphoenix.com> \(Postfix\) with ESMTPA id 548F521134
	for <<mailto:firebird-devel@lists.sourceforge.net>\>;
	Fri, 17 Apr 2015 20:43:24 \+0200 \(CEST\)
Message\-ID: <<mailto:1420883000.12991429338713462.JavaMail.tomcat@tracker.firebirdsql.org>\>
Date: Sat, 1

[2015-04-19 15:25] firebird-automations commented on #121
Commented by: @mrotteveel

Sean has changed something on the VM hosting the tracker; the time is still one hour off, but it is closer:

Received: from <http://tracker.firebirdsql.org> \(unknown \[206\.223\.166\.250\]\)
	by <http://mail.ibphoenix.com> \(Postfix\) with ESMTPA id 43C9C21162
	for <<mailto:mark@lawinegevaar.nl>\>; Sun, 19 Apr 2015 13:19:51 \+0200 \(CEST\)
Message\-ID: <<mailto:11216604

[2015-04-25 12:21] firebird-automations opened #122 "Update location of Jaybird sources [WEB134]"
Submitted by: @mrotteveel

Assigned to: Olga Popcova (olea.popcova)

I migrated Jaybird from Sourceforge Subversion to github\. As the location of the sources has changed, can you update the following page:
<http://www.firebirdsql.org/en/jdbc-devel-references/>

Replace the bullet item:
"Browse the client\-java sources in the Subversion repository"

With:
"Browse the jaybird sources in the github

[2015-04-25 12:24] firebird-automations commented on #122
<details><summary>Modified by: @mrotteveel</summary>

description: Yesterday I migrated Jaybird from CVS to Subversion\. As the location of the sources has changed, can you update the following page:
<http://www.firebirdsql.org/en/jdbc-devel-references/>

Replace the bullet item:
"Client\-Java module in the CVS repository"

With:
"Browse the client\-java sources in the Subversion repository" \> li

[2015-04-25 12:26] firebird-automations commented on #122
<details><summary>Modified by: @mrotteveel</summary>

description: I migrated Jaybird from Sourceforge Subversion to github\. As the location of the sources has changed, can you update the following page:
<http://www.firebirdsql.org/en/jdbc-devel-references/>

Replace the bullet item:
"Browse the client\-java sources in the Subversion repository"

With:
"Browse the client\-java sources in the gith

[2015-04-27 11:43] firebird-automations commented on #122
Commented by: @mrotteveel

Currently only the first item has been done, the second still needs to be done:

"
Replace the bullet item:
"Subversion repository URL \(trunk\): <https://firebird.svn.sourceforge.net/svnroot/firebird/client-java/trunk/>"

With:
"Github repository clone URL: <https://github.com/FirebirdSQL/jaybird.git>"
"

[2015-05-07 22:56] firebird-automations commented on #122
Commented by: Olga Popcova (olea.popcova)

Fixed\.
The info is now only on <http://www.firebirdsql.org/en/devel-jdbc-driver/>

[2015-05-07 22:56] firebird-automations commented on #122
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2015-05-07 22:56] #122 closed, assigned to nobody

[2015-05-31 15:34] firebird-automations opened #123 "Jaybird 2.2.8 release [WEB135]"
Submitted by: @mrotteveel

Assigned to: @alexeykovyazin

Attachments:
[Jaybird_2.2.8-download.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-135/12751_Jaybird_2.2.8-download.doc)
[Jaybird_2.2.8-newsitem.doc](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-135/12752_Jaybird_2.2.8-newsitem.doc)

I just released Jaybird 2\.2\.8\.

Please add a news item with th

[2015-05-31 15:34] firebird-automations commented on #123
<details><summary>Modified by: @mrotteveel</summary>

Attachment: Jaybird\_2\.2\.8\-download\.doc \[ 12751 \]

Attachment: Jaybird\_2\.2\.8\-newsitem\.doc \[ 12752 \]
</details>

[2015-06-05 17:15] firebird-automations commented on #123
Commented by: @mrotteveel

It has been a week, when can I expect this to get published to the site? Otherwise: can I get the rights to do this myself?

[2015-06-06 13:56] firebird-automations commented on #123
Commented by: @mrotteveel

I have got access from Helen, I am publishing it myself\.

[2015-06-06 14:58] firebird-automations commented on #123
Commented by: @mrotteveel

Done

[2015-06-06 22:46] firebird-automations commented on #123
<details><summary>Modified by: @helebor</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2015-06-06 22:46] #123 closed, assigned to nobody

[2015-06-11 11:02] firebird-automations opened #124 "link in "?" on right top of the page is wrong [WEB136]"
Submitted by: @livius2

link in "?" on right top of the page is wrong
it link to not existing page

[2015-06-11 11:58] firebird-automations commented on #124
Commented by: @helebor

Not Alexey's part\-of\-ship\.  If Pavel doesn't know how to change this, I don't know anyone else now who could\.  I wonder if it actually matters at all\.

[2015-06-11 11:58] firebird-automations commented on #124
<details><summary>Modified by: @helebor</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Pavel Cisar \[ pcisar \]
</details>

[2015-06-11 12:00] firebird-automations commented on #124
Commented by: @helebor

I should have mentioned, I'm assuming Karol is referring to the '?' icon at top right of THIS page\. ;\-\)  Not a [WEB](https://github.com/FirebirdSQL/web/issues?q=WEB+in%3Atitle) issue, but a Tracker one\.

[2015-06-11 13:56] firebird-automations commented on #124
Commented by: @pcisar

URL in ? link is provided by \(built\-in\) JIRA itself\. We use very old JIRA version, so no wonder that it points to no longer existing page at Atlassian website\. As this link should go to "online help about using and setting up JIRA", I see no reason why bother to fix it anyway\. Those who are interested in this topic may use Google to get there in no time\.

[2015-06-11 13:56] firebird-automations commented on #124
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Won't Fix \[ 2 \]
</details>

[2015-06-11 13:56] #124 closed, assigned to pcisar

[2015-06-20 10:45] firebird-automations opened #125 "The 404 Not Found page should be "in site" [WEB137]"
Submitted by: @mrotteveel

Assigned to: @alexeykovyazin

Attachments:
[firebirdsql_org_404.png](https://github.com/FirebirdSQL/jira-attachments/raw/main/WEB/WEB-137/12768_firebirdsql_org_404.png)

When you are directed to an incorrect link on the Firebird website, you are presented with a bare 404 page of nginx \(see screenshot\)\. It would be better if this would present an "in site" 404 page, so

[2015-06-20 10:45] firebird-automations commented on #125
<details><summary>Modified by: @mrotteveel</summary>

Attachment: firebirdsql\_org\_404\.png \[ 12768 \]
</details>

[2015-07-02 08:06] firebird-automations commented on #59
Commented by: @mariuz

this can be removed vulcan is removed already from tracker

[2015-07-02 12:20] firebird-automations opened #126 "remove some old versions and texts on snapshots page [WEB138]"
Submitted by: @mariuz

Assigned to: Olga Popcova (olea.popcova)

On snapshot page
<http://www.firebirdsql.org/en/snapshot-builds/>

on the first link v2\.x sould be removed from text  "v\.2\.1\.x, v\.2\.5 and v\.3\.0 \(HEAD\)" to "v\.2\.5 and v\.3\.0 \(HEAD\)"

On the 3rd link

replace "v\.2\.5 and v\.3\.0 \(HEAD\)" with "v\.3\.0 \(HEAD\)"
and text  "Regular builds of v\.2\.5 and v\.3\.0 by Sergey

[2015-07-02 12:23] firebird-automations commented on #112
Commented by: @mariuz

facebook comments system sould be replaced with disqus with proper threads and responses for each page and documentation pages

<https://disqus.com/websites/>

[2015-07-02 15:53] firebird-automations commented on #126
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]
</details>

[2015-07-02 15:53] firebird-automations commented on #126
Commented by: Olga Popcova (olea.popcova)

Done\.

[2015-07-02 15:53] firebird-automations commented on #126
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2015-07-02 15:53] #126 closed, assigned to nobody

[2015-07-07 09:14] firebird-automations opened #127 "Correct "Releases being currently tested" on "Stay In Touch" page [WEB139]"
Submitted by: @pavel-zotov

Assigned to: @alexeykovyazin

It seems that number should be changed from "Firebird 3\.0 Beta 1 Release" to Beta\-2\.

[2015-07-21 11:14] firebird-automations opened #128 "Error link [WEB140]"
Submitted by: Mikhail Tchervonenko (rusmikle)

Assigned to: @alexeykovyazin

URL: <http://www.firebirdsql.org/en/firebird-test-suite/>
Error in Link "FDB Firebird driver for Python\."
correct link: <http://www.firebirdsql.org/en/devel-python-driver/>

[2015-08-20 16:29] firebird-automations commented on #61
Commented by: Derryck welas (welas)

this issue realy can be closed

[2015-09-19 09:49] firebird-automations commented on #119
Commented by: @mrotteveel

This has already been done\. Ticket can be closed\.

[2015-09-19 09:50] firebird-automations commented on #117
Commented by: @mrotteveel

This has already been done\. Ticket can be closed\.

[2015-09-23 15:32] firebird-automations commented on #49
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Won't Fix \[ 2 \]
</details>

[2015-09-23 15:32] #49 closed, assigned to pcisar

[2015-09-23 15:32] firebird-automations commented on #21
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Won't Fix \[ 2 \]
</details>

[2015-09-23 15:32] #21 closed, assigned to pcisar

[2015-09-23 15:33] firebird-automations commented on #61
<details><summary>Modified by: @pcisar</summary>

assignee: Pavel Cisar \[ pcisar \] =\>
</details>

[2015-09-23 15:34] firebird-automations commented on #59
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2015-09-23 15:34] #59 closed, assigned to pcisar

[2015-09-23 15:34] firebird-automations commented on #52
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2015-09-23 15:34] #52 closed, assigned to pcisar

[2015-09-23 15:36] firebird-automations commented on #116
<details><summary>Modified by: @pcisar</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2015-09-23 15:36] #116 closed, assigned to pcisar

[2016-01-10 23:35] firebird-automations opened #129 "404 for documentation/drivers_documentation/python/fdb/index.html [WEB141]"
Submitted by: @pavel-zotov

Assigned to: @alexeykovyazin

<http://www.firebirdsql.org/file/documentation/drivers_documentation/python/fdb/index.html>

404 Not Found
nginx/1\.6\.2

[2016-01-25 09:59] firebird-automations commented on #129
<details><summary>Modified by: @dyemanov</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2016-01-25 09:59] #129 closed, assigned to nobody

[2016-02-02 09:55] firebird-automations commented on #127
<details><summary>Modified by: @dyemanov</summary>

status: Open \[ 1 \] =\> Closed \[ 6 \]

resolution: Fixed \[ 1 \]
</details>

[2016-02-02 09:55] #127 closed, assigned to nobody

[2016-03-15 16:49] firebird-automations opened #130 "CLONE -non existin link for "FB/Java" plug-in preliminary test version" [WEB142]"
Submitted by: akhil p (akhil)

 "FB/Java" plug\-in preliminary test version
<http://www.firebirdsql.org/index.php?op=devel&sub=plugins&id=external_java>    =  ok

so on next page
Download the Fb/Java Plug\-in and server for 32\-bit Windows\.

<http://www.firebirdsql.org/downloads/rabbits/asfernandes/fbjava/fbjava-m1.zip>      = fails

Hope this is the place to report this\.
Derryck

[2016-03-15 18:13] firebird-automations commented on #130
Commented by: @mrotteveel

Why did you clone [WEB66](https://github.com/FirebirdSQL/web/issues?q=WEB66+in%3Atitle)?

[2016-03-23 22:18] firebird-automations opened #131 "Content, links not adjusted to 3.0 RC2 [WEB143]"
Submitted by: Gabor Boros (gaborboros)

Assigned to: @alexeykovyazin

For example: "The latest testing release is v3\.0 Release Candidate 1\.", "Release Candidate 2 is expected in December 2015\."

<http://www.firebirdsql.org/en/devel-core>

[2016-03-23 22:25] firebird-automations commented on #131
Commented by: @dyemanov

I don't know from where you managed to follow this link, it looks hidden\. The actual contents is here:
<http://www.firebirdsql.org/en/roadmap/>

and it's updated\.

[2016-03-23 22:29] firebird-automations commented on #131
Commented by: Gabor Boros (gaborboros)

Opened <http://www.firebirdsql.org>, clicked on the top menu "DEVELOPMENT" item, clicked on "Core server"\.

[2016-04-20 16:56] firebird-automations opened #132 "Please add the Migration Guide to Firebird 3 eBook to the Books pages in the site [WEB144]"
Submitted by: @WarmBooter

Assigned to: Olga Popcova (olea.popcova)

Title: Migration Guide to Firebird 3 \(Digital Edition\)
Format: 122 pages, electronic format \(fully navigable PDF\)
Author: Carlos H\. Cantu
Publisher: FireBase \(<http://www.firebase.com.br>\)

Description text: Firebird 3 brings numerous innovations, such as the long\-awaited full SuperServer's SMP support, network and databa

[2016-04-21 14:50] firebird-automations opened #133 "Wrong URLs in RSS feed [WEB145]"
Submitted by: @pcisar

Assigned to: Olga Popcova (olea.popcova)

Links to articles in RSS feed \(<http://www.firebirdsql.org/rss/en/news.xml>\) are malformed with additional "http", for example:
<http://http//www.firebirdsql.org/en/news/firebird-3-0-is-released/>

[2016-04-25 12:12] firebird-automations commented on #132
Commented by: Olga Popcova (olea.popcova)

Done\.

[2016-04-25 12:12] firebird-automations commented on #132
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2016-04-25 12:12] #132 closed, assigned to nobody

[2016-04-25 12:14] firebird-automations commented on #133
Commented by: Olga Popcova (olea.popcova)

Done\.

[2016-04-25 12:14] firebird-automations commented on #133
<details><summary>Modified by: Olga Popcova (olea.popcova)</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Olga Popcova \[ olea\.popcova \]

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2016-04-25 12:14] #133 closed, assigned to nobody

[2016-05-17 18:05] firebird-automations opened #134 "Add Firebird for Android to FB 3 download page [WEB146]"
Submitted by: @WarmBooter

Assigned to: @alexeykovyazin

Votes: 2

Please add Firebird for Android to the Firebird 3 downloads page \(Alex Peshkov is the responsible for the Android builds\)

[2016-06-09 17:17] firebird-automations opened #135 "QA part of website is outdated [WEB147]"
Submitted by: @aafemt

Assigned to: @alexeykovyazin

On <http://cms.firebirdsql.org/en/devel-qa/> links to CVS are dead\.
On <http://cms.firebirdsql.org/en/firebird-test-suite> link to FDB is bad formed\.

[2016-06-15 01:34] firebird-automations opened #136 "Wrong links to the QA resources [WEB148]"
Submitted by: @hvlad

Assigned to: @alexeykovyazin

Page
<http://www.firebirdsql.org/en/devel-qa/>

contains links to the CVS modules
<http://cvs.sourceforge.net/cgi-bin/viewcvs.cgi/firebird/>

but CVS abandoned for a long time at SF\.

Correct links should point to the SVN repository
<http://svn.code.sf.net/p/firebird/code/qa/>

[2016-06-15 01:35] firebird-automations commented on #136
Commented by: @hvlad

Oops, sorry, looks like it is duplicate of [WEB147](https://github.com/FirebirdSQL/web/issues?q=WEB147+in%3Atitle)

[2016-07-12 09:38] firebird-automations opened #137 "www.netpnb.com [WEB149]"
Submitted by: suneel kumar (suneel.jsi1)

Assigned to: @alexeykovyazin

Attachments:
[oramon.exe](https://github.com/FirebirdSQL/jira-attachments-private/raw/main/WEB/WEB-149/12985_oramon.exe)
[Firebird_ODBC_2.0.4.155_Win32.exe](https://github.com/FirebirdSQL/jira-attachments-private/raw/main/WEB/WEB-149/12986_Firebird_ODBC_2.0.4.155_Win32.exe)
[brie.exe](https://github.com/FirebirdSQL/jira-attach

[2016-07-12 09:41] firebird-automations commented on #137
<details><summary>Modified by: suneel kumar (suneel.jsi1)</summary>

Attachment: oramon\.exe \[ 12985 \]

Attachment: Firebird\_ODBC\_2\.0\.4\.155\_Win32\.exe \[ 12986 \]

Attachment: brie\.exe \[ 12987 \]
</details>

[2016-08-10 21:24] firebird-automations opened #138 "Failed to find or load the registered .Net Framework Data Provider. [WEB150]"
Submitted by: Paul Dryden (pdryden)

Assigned to: @alexeykovyazin

I develop web applications that interact with Firebird Sql using Microsoft Entity Data Framework and C#&#x2060;\. I have a particular project that compiles fine, but at run\-time, when the program attempts to access the database, I get the error "Failed to find or load the registered \.Net Framework Data Provider\." I wrote a test

[2016-08-10 23:24] firebird-automations commented on #138
<details><summary>Modified by: Paul Dryden (pdryden)</summary>

description: I develop web applications that interact with Firebird Sql using Microsoft Entity Data Framework and C#&#x2060;\. I have a particular project that compiles fine, but at run\-time, when the program attempts to access the database, I get the error "Failed to find or load the registered \.Net Framework Data Provider\." I wro

[2016-08-11 10:35] firebird-automations commented on #138
Commented by: @helebor

WEB tracker tickets concern bugs on the Firebird website, not developers' problems with drivers\.
BUG REPORTS about the \.NET providers go into the DNET section of the Tracker\.
Support questions do NOT belong in the Tracker at all\.  Post your problems to the firebird\-net\-provider mail list\.
See <http://www.firebirdsql.org/en/mailing-lists/> to subscribe\.

[2016-08-22 18:50] firebird-automations opened #139 "Wrong "Track details" links [WEB151]"
Submitted by: Gabor Boros (gaborboros)

3\.0\.x, 4\.0 "Track details" links point to 3\.0 RC2 on <http://www.firebirdsql.org/en/devel-core>

[2016-08-22 19:41] firebird-automations commented on #139
<details><summary>Modified by: @dyemanov</summary>

assignee: Alexey Kovyazin \[ alexey\.kovyazin \] =\> Dmitry Yemanov \[ dimitr \]
</details>

[2016-08-22 19:41] firebird-automations commented on #139
<details><summary>Modified by: @dyemanov</summary>

status: Open \[ 1 \] =\> Resolved \[ 5 \]

resolution: Fixed \[ 1 \]
</details>

[2016-08-22 19:41] #139 closed, assigned to dyemanov

[2016-08-22 22:30] firebird-automations commented on #139
Commented by: Gabor Boros (gaborboros)

Why marked as fixed? I see same error as before\.

[2016-08-22 23:14] firebird-automations commented on #139
Commented by: @dyemanov

It was fixed inside CMS, but I have no idea why this page is not refreshed at <http://www.firebirdsql.org> yet\. Usually it takes no more than 5\-10 minutes\.

[2016-08-24 10:33] firebird-automations commented on #139
Commented by: Gabor Boros (gaborboros)

Nothing changed, please not forget this problem\.

[2016-08-24 10:42] firebird-automations commented on #139
Commented by: @dyemanov

The actual page \(<http://www.firebirdsql.org/en/roadmap/>\) is in fact updated, but redirect \(<http://www.firebirdsql.org/en/devel-core>\) still points to the old version\. It already happened in the past, we'll fix that\.

[2016-08-24 11:11] firebird-automations commented on #139
Commented by: Gabor Boros (gaborboros)

Yes, I know, [WEB143](https://github.com/FirebirdSQL/web/issues?q=WEB143+in%3Atitle) reported by me and the source is same, the roadmap vs devel\-core\. Why devel\-core exists if roadmap have the same content and works better than the devel\-core page?

[2017-03-23 14:03] firebird-automations opened #141 "Email field in the FF association page is too short [WEB153]"
Submitted by: @WarmBooter

Assigned to: @alexeykovyazin

I sent a huge mailing to FireBase subscribers asking them to join FF, and I got a complaint that the email field in the association form \(<https://www.firebirdsql.org/en/membership-application-form/>\) is too short \(only 30 chars\)\. Please increase the size of the field asap\!

Also, got another complaint about the fact that the registrat

[2017-03-23 16:55] firebird-automations opened #142 "Donation button should be more visibile on the frontpage and download page [WEB154]"
Submitted by: @mariuz

Assigned to: @alexeykovyazin

Votes: 1

Donation button should be more visibile on the frontpage and download page

<https://firebirdsql.org/>
<https://www.firebirdsql.org/en/firebird-3-0/>

I can give the examples of libreoffice and ubuntu download pages

When you click download and choose version it shows donate button

<https://www.libreoffice.org/download/download/>
<htt

[2018-01-22 11:50] firebird-automations commented on #41
Commented by: @livius2

also add F021	section

[2018-05-10 01:52] firebird-automations opened #65 "ايهاب علي البدوي [WEB156]"
Submitted by: ehab ali albdwee (ايهاب علي البدوي)

Assigned to: @alexeykovyazin

[2018-05-26 02:52] firebird-automations opened #143 "Add permanent link to firebirdnews.org in fbsql main page [WEB157]"
Submitted by: @WarmBooter

Assigned to: @alexeykovyazin

<http://Firebirdsql.org> is the Project official site\. It has a news section used to post official/relevant news from the Project\. This is good, but the number of news is too low to make the site dynamic enough to keep Firebird users visiting it constantly\. Firebirdnews exists for several years, and provides news from the "Firebird commun

[2018-07-09 03:08] firebird-automations opened #144 "please enable Jira REST APIs [WEB158]"
Submitted by: bts-link (bts-link2)

Assigned to: @alexeykovyazin

Hello, could you please enable Jira REST APIs? thanks\!

[2018-08-03 11:59] firebird-automations opened #145 "firebirdsql.org/en/firebird-3-0-0 should be redirected to recent page [WEB159]"
Submitted by: @livius2

Assigned to: @alexeykovyazin

look at <http://stackoverflow.com>
<https://stackoverflow.com/questions/36957217/how-to-install-a-firebird-driver-on-android-so-i-can-connect-with-firedac?rq=1>

look at second comment by "Johan"
there is a link to:
<http://www.firebirdsql.org/en/firebird-3-0-0>

this is "archived" page which show that firebird is not available on Mac OS and An

[2018-08-03 15:54] firebird-automations commented on #145
Commented by: @dyemanov

I'm not sure I agree\. This would make impossible to reach the older version intentionally \(e\.g\. for downgrading in the case of problems\)\.

[2018-08-03 16:32] firebird-automations commented on #145
Commented by: @livius2

But this page is not listed anywhere on the page\.
Do you see somwhere list of downloads of older point releases?

I can aggree with you if this will be in the page tree \- then someone could make link to it\.
But then someone can enter there, and will see that there is also something newer\.
Now he/she see that firebird do not have Android and Mac OS at all\.

[2018-10-29 12:32] firebird-automations opened #146 "Sorting by column in "Watches" and "Votes" [WEB160]"
Submitted by: @livius2

Assigned to: @alexeykovyazin

After login to the tracker we have on the right
My Unresolved Reported Issues \| Watches \| Votes

and "My Unresolved Reported Issues" have sorting by column
but Watches and Votes doesn't\. Please add sorting there\.

[2019-06-20 02:31] firebird-automations opened #147 "Add HTTPs support for tracker website [WEB161]"
Submitted by: Lucas Schatz (arvanus)

Assigned to: @alexeykovyazin

Jira\_subtask\_outward [WEB167](https://github.com/FirebirdSQL/web/issues?q=WEB167+in%3Atitle)

Votes: 2

Please, take a look at "Let's Encrypt" project, it offers a totally free SSL certificate to use in your website, easily  integrated into Apache and Nginx webservers\.

Here you can take a look at the project's site, and it's d

[2020-06-25 20:57] firebird-automations opened #148 "<spam issue> [WEB162]"
Submitted by: <spammer>

Assigned to: @alexeykovyazin

<spam removed>

[2020-09-05 13:17] firebird-automations opened #149 "RSS Feed doesn't validate [WEB163]"
Submitted by: @mariuz

Assigned to: @alexeykovyazin

RSS Feed doesn't validate

<https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fwww.firebirdsql.org%2Frss%2Fen%2Fnews.xml>

[2020-10-22 14:22] firebird-automations opened #150 "https://hub.docker.com/r/jacobalberty/firebird/tags: tag 3.0.7 is missing [WEB164]"
Submitted by: Walter Weinmann (wwe)

Assigned to: @alexeykovyazin

<https://hub.docker.com/r/jacobalberty/firebird/tags:> tag 3\.0\.7 is missing

[2020-10-22 15:01] firebird-automations commented on #150
Commented by: Walter Weinmann (wwe)

This issue can be closed \- misunderstanding from my side\.

[2020-11-13 23:40] firebird-automations commented on #150
Commented by: @mariuz

can be closed

<https://hub.docker.com/layers/jacobalberty/firebird/v3.0.7/images/sha256-41b246084b8173674a19b594baa61915e6613d3bb2c6af30cc57d30055713351?context=explore>

[2020-11-13 23:44] firebird-automations commented on #148
Commented by: @mariuz

seems to be spam , please remove

[2020-11-13 23:46] firebird-automations commented on #147
Commented by: @mariuz

I voted for this , now passwords are sent in clear text and can be sniffed on this site

[2021-01-09 18:52] firebird-automations opened #151 "machine [WEB165]"
Submitted by: estevao (estevao)

Assigned to: @alexeykovyazin

machine

[2021-01-09 18:53] firebird-automations opened #152 "machine [WEB166]"
Submitted by: estevao (estevao)

Assigned to: @alexeykovyazin

machine

[2021-01-09 18:58] firebird-automations opened #153 "machine [WEB167]"
Submitted by: estevao (estevao)

Assigned to: @alexeykovyazin

Jira\_subtask\_inward [WEB161](https://github.com/FirebirdSQL/web/issues?q=WEB161+in%3Atitle)

machine

[2021-01-10 00:03] firebird-automations commented on #152
<details><summary>Modified by: estevao (estevao)</summary>

issuetype: Sub\-task \[ 5 \] =\> Bug \[ 1 \]

Parent: [WEB161](https://github.com/FirebirdSQL/web/issues?q=WEB161+in%3Atitle) \[ 22618 \] =\>
</details>

[2021-01-10 00:03] firebird-automations opened #154 "CLONE -machine [WEB168]"
Submitted by: estevao (estevao)

Assigned to: @alexeykovyazin

machine

[2021-03-12 12:27] firebird-automations opened #155 "<spam issue> [WEB169]"
Submitted by: <spammer>

Assigned to: @alexeykovyazin

<spam removed>

[2021-03-12 12:28] firebird-automations opened #156 "<spam issue> [WEB170]"
Submitted by: <spam removed>

Assigned to: @alexeykovyazin

<spam removed>

[2021-04-22 15:35] firebird-automations opened #157 "<spam issue> [WEB171]"
Submitted by: <spammer>

Assigned to: @alexeykovyazin

<spam removed>

[2021-04-25 12:46] #157 closed, assigned to nobody

[2021-04-25 12:46] #156 closed, assigned to nobody

[2021-04-25 12:47] #155 closed, assigned to nobody

[2021-04-25 12:48] #65 closed, assigned to nobody

[2021-04-25 12:49] #117 closed, assigned to nobody

[2021-04-25 12:50] #119 closed, assigned to nobody

[2021-04-25 12:52] #150 closed, assigned to nobody

[2021-04-25 12:53] #148 closed, assigned to nobody

[2021-04-25 12:54] #138 closed, assigned to nobody

[2021-04-25 12:55] #131 closed, assigned to nobody

[2021-04-25 12:58] #121 closed, assigned to nobody

[2021-04-25 13:00] mrotteveel commented on #147
No longer relevant after migration to GitHub issues

[2021-04-25 13:00] #147 closed, assigned to nobody

[2021-04-25 13:00] #152 closed, assigned to nobody

[2021-04-25 13:00] #151 closed, assigned to nobody

[2021-04-25 13:01] #153 closed, assigned to nobody

[2021-04-25 13:02] #154 closed, assigned to nobody

[2021-04-25 13:02] mrotteveel commented on #146
No longer relevant after migration to GitHub issues

[2021-04-25 13:02] #146 closed, assigned to nobody

[2021-04-25 13:05] #40 closed, assigned to nobody

[2021-04-25 13:06] #91 closed, assigned to nobody

[2021-04-25 13:06] mrotteveel commented on #144
No longer relevant after migration to GitHub issues

[2021-04-25 13:06] #144 closed, assigned to nobody

[2021-04-25 13:08] #134 closed, assigned to nobody

[2021-04-25 13:09] mrotteveel commented on #130
Duplicate of #61

[2021-04-25 13:09] #130 closed, assigned to nobody

[2021-04-25 13:10] #114 closed, assigned to nobody

[2021-04-25 13:14] #109 closed, assigned to helebor

[2021-04-25 13:16] #83 closed, assigned to nobody

[2021-04-25 13:17] #71 closed, assigned to nobody

[2021-04-25 13:18] #61 closed, assigned to nobody

[2021-04-25 13:42] #104 closed, assigned to nobody

[2021-04-25 13:42] #110 closed, assigned to nobody

[2021-04-25 13:43] #128 closed, assigned to nobody

[2021-04-25 13:44] #135 closed, assigned to nobody

[2022-06-14 17:01] luronumen opened #158 "The Firebird SQL website feed does not conform to the W3C standard"
**ACTUAL RESULT**
- The Firebird SQL website feed does not conform to the W3C standard

**EXPECTED RESULT**
- The Firebird SQL site feed should conform to the W3C standard

**STEPS TO REPRODUCE THE ISSUE**

1.  Open the [W3C Feed Validation Service](https://validator.w3.org/feed/) website and che the [Firebird SQL website feed](https://www.firebirdsql.org/rss/en/news.xml): Verify that several erro

[2022-06-27 11:09] mariuz opened #159 "No DMARC Record found for FirebirdSQL"
No DMARC Record found
DMARC Quarantine/Reject policy not enabled

https://mxtoolbox.com/SuperTool.aspx?action=mx%3aFirebirdsql.org&run=toolpage

[2022-06-27 11:13] mrotteveel commented on #159
Please write issues as an actionable request, not just dump some error message.

[2022-06-27 11:13] #159 closed, assigned to nobody

[2022-06-27 12:09] mariuz opened #160 "Donate page on paypal : This organization's page is broken."
After you click on donate button on main page

https://www.paypal.com/donate/

![image](https://user-images.githubusercontent.com/18359/175937722-b4b1cfda-5862-46d0-87a1-854e421bf42f.png)

[2022-06-27 12:10] mariuz commented on #137
this i guess can be closed

[2022-06-27 17:08] #137 closed, assigned to nobody

[2022-09-05 20:30] WarmBooter opened #161 "Donation button in firebirdsql.org mainpage is broken"
Please fix the problem asap.
Donations should be an easy process and having a broken donation link in the mainpage is not a friendly experience for the willing donator.

[2022-09-06 08:33] mrotteveel commented on #161
Duplicates #160

[2022-09-06 08:33] #161 closed, assigned to nobody

[2022-09-28 16:25] #145 closed, assigned to nobody

[2022-09-30 14:54] mrotteveel commented on #158
Duplicates: #149

[2022-09-30 14:54] #158 closed, assigned to nobody

[2022-09-30 15:52] mrotteveel commented on #160
For now, the donation button has been removed.

[2022-09-30 15:52] #160 closed, assigned to nobody

[2022-09-30 16:01] mrotteveel commented on #112
The comment system was removed a long time ago.

[2022-09-30 16:01] #112 closed, assigned to nobody

[2022-09-30 16:05] mrotteveel commented on #136
The page was fixed (probably during the migration to GitHub).

[2022-09-30 16:05] #136 closed, assigned to nobody

[2022-10-03 09:58] mrotteveel commented on #149
Asked Sergey to fix this, and it has been fixed.

[2022-10-03 09:58] #149 closed, assigned to nobody

[2022-10-06 15:30] luronumen commented on #158
Thank you very much for the fix!

Best Regards,
Luciano

[2022-11-23 10:59] mariuz opened #162 "subscribe to Firebird news links on afterinstall-en page are wrong"
on this page https://www.firebirdsql.org/en/afterinstall-en/
"subscribe to Firebird news"  link  goes to

http://dfp.firebirdsql.org/en/subscribe/

correct link is
https://firebirdsql.org/en/subscribe/

also i don't think the form is working , after submit it sending the results again to
https://dfp.firebirdsql.org/en/subscribe/

also https://dfp.firebirdsql.org/security/security_image.php link is